/*search More*/
.searchMore{
    width: 100%;
    padding: 16px 0;
    border-radius: 12px;
    background-color: #F6F6F7;
    margin-bottom: 16px;

}
.searchMore input{
    height: 44px;
    border-radius: 12px;
    padding: 12px 16px;
    color: #B0B7C3;
    border: none;
}
.searchMore div{
    display: grid;
    grid-template-columns: 100% 0%;
}
.searchMore i {
    padding: 9px;
    margin-left: -40px;
}

/*loc*/
/*.loc{
   width: 100%;
   display: grid;
   grid-template-columns: 24% 24% 24% 24%;
}
*/
#addDegree1{
   display: none;
}
#addDegree2{
   display: none;
}
.title span{
    color: #8A94A6;
    font-size: 13px;
    font-weight: normal;
}
.loader{
  content: '';
  /*box-sizing: border-box;*/
  position: absolute;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  /*border-radius: 50%;*/
/*  border: 2px solid #ccc;
  border-top-color: #333;*/
  animation: spinner  linear infinite;
  background: url('/assets/loading2.gif')
              50% 50% no-repeat rgb(249,249,249);
  z-index: 1100;

}
textarea.form-control {
   height: auto!important;
}

.selectSearch .style_option{
    border-style: dotted;
    border-radius: 17px;
    padding: 10px;
}
.selectSearch .style_option option{
    padding: 10px 2px;
    border-radius: 17px;
}
.form-control:disabled{
    background-color: white;
}

/*input file*/
.attached-center .custom-file-input {
    width: 290px;
    float: unset!important;
}
.attached-center .cur_input{
    cursor: pointer;
}
.attached-center .none_cur{
    cursor: default;
}
.medium{
    color: #38CB89;
    font-weight: bold;
}
.high{
    color: orange;
    font-weight: bold;
}
.emergency{
    font-weight: bold;
}

.status-role {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
.input-role {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider-role {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider-role:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.input-role:checked + .slider-role {
    background-color: #2196F3;
}
.input-role:checked + .slider-role:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.slider-role.round {
    border-radius: 34px;
}
.slider-role.round:before {
    border-radius: 50%;
}

.row_title{
    margin-bottom: 10px;
}
.row_title .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding: 0px 0px 10px;
}
.inner-tab .working-plan th {
    position: relative;
}
.emergency {
    color: #FF5630;
}
.bg-blue{
    font-weight: bold;
}
.disabled_box {
    background: #F6F6F7 !important;
    opacity: 0.75;
}

.box-user .search-expertise input.end-date {
    width: 100%;
    border: 1px solid #ECEFF1;
    background: white;
    padding-left: 3px;
}
.modal-appraisal {
    max-width: 744px;
}
.modal-appraisal .attached-center {
    width: 100%;
    text-align: center;
}
.list-user-appraisal .box-calendar {
    padding: 10px 10px 8px 10px;
}
.bg-orange {
    background: #FF5630;
    color: #FFFFFF;
}
.modal-custom-appraisal {
    overflow: auto !important;
}
.modal-custom-appraisal .text-danger {
    font-size: 1rem;
}
.error{
    font-size: 12px;
}

#editAppraisal .btn-secondary {
    background-color: #6c757d;
}
#fileInvitation .attached-center {
    text-align: center;
    width: 100%;
}
.list-detail-topic span {
    font-weight: 500;
}
.modal-custom-appraisal .form-group.col-md-4 {
    max-width: 100% !important;
    flex: 100%;
    text-align: left;
}
.error-file-create, .error-file-edit {
    display: none;
}
#changePassword .attached-center {
    text-align: center;
}
.profile-image {
    text-align: center;
    margin-bottom: 30px;
}
.profile-image button {
    border: 1px solid #ccc;
    font-size: 11px;
    padding: 3px;
}
#image-preview {
    height: 150px;
    width: 150px;
    display: block;
    margin: 0px auto;
    border-radius: 50%;
}
#input-image-hidden {
    display: none;
}

/*chart*/
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
/*end chart*/
.search_bar, a.search_bar{
    padding: 6px 12px;
    font-size: 14px;
    color: #323B4B;
    cursor: pointer;
}
a.search_bar:hover {
    background: #f8f9fa;
}
.center{
    text-align: center;
}
.blur{
    color: #8A94A6 !important;
}
.blur_link{
    color: #bcbec1 !important;
}
.textarea{
    padding-top: 25px;
}
.history{
    margin-top: 35px;
}
.no_margin{
    margin: 0;
}
.margin_top_20{
    margin-top: 20px;
}

/*task work*/
.checkbox-task-work-follower {
    background: #FFFBF1 !important;
}

.checkbox-task-work-follower label:before {
    border: 2px solid #FFAB00!important;
}

.checkbox-task-work-follower label:after {
    border-bottom: 2px solid #FFFBF1!important;
    border-left: 2px solid #FFFBF1!important;
}

.checkbox-task-work-follower input[type="checkbox"]:checked ~ label::before {
    color: #FFAB00!important;
    background-color: #FFAB00!important;
}
.checkbox-task-work-follower label span {
    color: #FFAB00 !important;
    font-size: 16px !important;
}

.checkbox-task-work-approve {
    background: #FFF6F4 !important;
}

.checkbox-task-work-approve label:before {
    border: 2px solid #FF5630!important;
}

.checkbox-task-work-approve label:after {
    border-bottom: 2px solid #FFF6F4!important;
    border-left: 2px solid #FFF6F4!important;
}

.checkbox-task-work-approve input[type="checkbox"]:checked ~ label::before {
    color: #FF5630!important;
    background-color:#FF5630!important;
}
.checkbox-task-work-approve label span {
    color: #FF5630 !important;
    font-size: 16px !important;
}
.checkbox-task-work-assign {
    background: #F5FCF9!important;
}

.checkbox-task-work-assign label:before {
    border: 2px solid #38CB89!important;
}

.checkbox-task-work-assign label:after {
    border-bottom: 2px solid #F5FCF9!important;
    border-left: 2px solid #F5FCF9!important;
}

.checkbox-task-work-assign input[type="checkbox"]:checked ~ label::before {
    color: #38CB89!important;
    background-color:#38CB89!important;
}

.checkbox-task-work-assign label span {
    color: #38CB89 !important;
    font-size: 16px !important;
}
.checkbox-task-work-preview label span {
    color: #377DFF !important;
    font-size: 16px !important;
}
/*_____________________________________________________*/

.checkbox-config {
    width: 100%;
    position: relative;
    display: block;
    padding: 2px 10px;
    background: #FAFBFC;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid white;
}

.checkbox-config input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}

.checkbox-config label {
    position: relative;
}

.checkbox-config label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 1px solid #377DFF;
}

.checkbox-config label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 12px;
    left: 10px;
}

.checkbox-config input[type="checkbox"]:checked ~ label::before {
    color: #377DFF;
    background-color: #377DFF;
}

.checkbox-config input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox-config label {
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}

.checkbox-config label span {
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: black;
}

.checkbox-config input[type="checkbox"]:focus + label::before {
    outline: 0;
}

.avatar-user {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 1px solid #13131347;
}

.avatar-user .upload-avatar {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: -60px;
    left: 0px;
    background-color: rgba(22, 22, 32, 0.5);
    transition: bottom 0.5s;
    cursor: pointer;
}

.avatar-user:hover .upload-avatar{
    bottom: 0px;
}

.title-new{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 17px !important;
}
.box-new{
    cursor: pointer;
}
.box-new:hover {
    color: #007bff;
}

.new-detail-date {
    margin: 14px 0;
    color: black;
    font-size: 14px;
}

.box-new-table .form-control {
    font-size: 13px;
    color: #4E5D78;
}

.fileUpload-new {
    margin-top: 42px;
}

.fileUpload-new .icon {
    background: #F6F6F7;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 6px;
    padding: 8px;
}

.title-new-detail {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px !important;
}

.detail-description-detail div {
    font-weight: 500;
}

.detail-description-detail figure img {
    display: block !important;
    margin: 30px auto;
    width: 80%;
    height: auto;
}

.title-detail {
    margin-top: 44px;
    margin-bottom: 10px;
}

.date-detail {
    color: black;
    font-size: 16px;
    margin: 10px 0 10px;
}

.menu-news {
    font-size: 24px;
    font-weight: 600;
    padding: 12px 12px 0px;
}
.sidebar-news-right{
    padding-top: 40px;
    padding-right: 0;
}
.news-container{
    padding-right: 0;
}
@media screen and (max-width: 1440px){
    .sidebar-news-right{
        max-width: 280px !important;
    }
}
@media screen and (max-width: 1440px){
    .sidebar-news-right{
        max-width: 300px;
    }
}
.sidebar-news-right-title-page {
    margin-top: 18px;
    margin-bottom: 10px;
}
.sidebar-news-right-title-new{
    color: black !important;
    margin-top: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 17px !important;
}

.sidebar-news-right-date-detail {
    margin-top: 14px;
    color: black;
    font-size: 14px;
}


.drop_color{
    background: #377DFF !important;
}

.add_asset{
    width: 100% !important;
}
.asset_column{
    margin-left: 10px;
}
.asset-type-date{
    width: 100% !important;
}
.radio_margin{
    margin-right: 10px;
}
.margin_bottom{
    margin-bottom: 25px;
}


.select-status-project {
    padding: 5px 16px;
    border-radius: 10px;
}

.wait-approval {
    background: #FFFBF1;
    font-weight: 500;
    font-size: 12px;
    color: #FFAB00;
    border: 1px solid;
}

.in-process {
    background: #F4F8FF;
    font-weight: 500;
    font-size: 12px;
    color: #377DFF;
    border: 1px solid;
}

.completed {
    background: #F5FCF9;
    font-weight: 500;
    font-size: 12px;
    color: #38CB89;
    border: 1px solid;
}

.cancel {
    background: #FFEFEB;
    font-weight: 500;
    font-size: 12px;
    color: #FF5630;
    border: 1px solid;
}
#asset_left .flex-column{
    background-color: #FAFBFC;
    border-radius: 16px;
}
#asset_left .sidebar-left{
    margin-bottom: 20px;
}
#asset_left .angle-right{
    top: 10px !important;
    right: 10px !important;
}
.dropdown-menu-left{
    border-top: rgba(193, 199, 208, 0.2) 1px solid;
}
.name_w_lg{
    width: 400px;
    padding-left:16px ;
}
.select2-container{
    width: 100% !important;
}
.select2-container--bootstrap
.select2-selection--multiple{
    height: 48px !important;
    border: 1px solid #ECEFF1 !important;
    border-radius: 12px !important;
}
.select2-container--bootstrap
.select2-selection--multiple
.select2-selection__rendered{
    line-height: 2.2 !important;
}
 .select2-container .select2-search--inline .select2-search__field{
    width: 380px !important;
}
 .select2-container--bootstrap
.select2-selection--multiple
.select2-search--inline
.select2-search__field{
    height: 48px !important;
}
#select2-user-info .select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
    margin-top: 52px !important;
}
 .select2-container--bootstrap .select2-selection--multiple{
    position: relative;
}
#select2-user-info .select2-container .select2-search--inline{
    position: absolute;
    left: 0;
    top: 0 ;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice
{
    border: 1px solid rgba(193, 199, 208, 0.4);
    margin: 0 !important;
    margin-right: 6px !important;
    border-radius: 8px !important;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove{
    font-weight: 500;
    float: right;
    font-size: 14px;
    margin: 0 6px;
}


.list-topic-fee-detail .title-approve {
    margin: 0;
}
.bg_blue{
    background: blue;
    color: white;
}
.bg_blue .btn{
    color: white;
}
.card_title{
    margin-bottom: 50px;
}

.text-6 {
    color: #38CB89!important;
}
.text-7 {
    color: #FFAB00!important;
}
.height511 {
    height: 511px;
}
.table_border{
    border: 1px solid #dee2e6 !important;
}
.draft{
    background: lightcoral;
    color: white;

}

.font13 {
    font-size: 13px;

}
.list-topic-fee .title-approve {
    margin: 0 0;
}
table.table-topic-fee {
    border: 1px solid #ECEFF1!important;
}

.info-request2 input[type="file"] {
    display: none;
}
.info-request2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}
.info-request2 input{

    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #ECEFF1;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #4E5D78;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}
.pd-col-15{
    padding: 0 15px;
}
.z_index{
    z-index: 999!important;
}
.list-topic-fee .modal-appraisal .btn-cancel {
    border-radius: 0.25rem;
    margin-top: 0px;
}
.input-placeholder::placeholder {
    font-size: 14px;
    color: #B0B7C3;
    opacity: 0.7;
}
.input-placeholder::-ms-input-placeholder {
    font-size: 14px;
    color: #B0B7C3;
}
.input-placeholder::-ms-input-placeholder {
    font-size: 14px;
    color: #B0B7C3;
}
.text_center{
    text-align: center;
}
.width_100{
    width: 100%;
}
.padding_top{
    padding-top: 10px;
}
.fontsize_28{
    font-size: 28px;
}
.content-link {
    background: #e9ecef;
    overflow: hidden;
}
.content-link a {
    line-height: 32px;
    text-decoration: revert;
    font-size: 14px;
}
.text_monthly {
    margin-left: 5px;
    font-size: 14px;
    color: #8A94A6;
}

.search-date-css .k-widget.form-control {
    overflow: hidden;
}
.search-date-css .k-widget.form-control .k-input {
    font-size: 12px;
    height: 2.7rem;
}
#additional{
    position: relative;
   left: 144px;

}
.k-picker-wrap {
    padding-left: 0px !important;
}
#search-input-combobox-1{
    border: 1px solid #ECEFF1;
    border-radius: 12px;
    padding-left: 12px;
}
.list-file a {
    font-size: 14px;
}
.list-file-budget .text-title {
    text-transform: uppercase;
    color: #4E5D78;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 63px;
}
#titleParent{
    position: relative;
    left: 100px;

 }
 #titleChildren{
    position: relative;
    left: 60px;
 }
.list-equipment .text-danger {
    font-size: 12px;
}
#boxpagination{
    width: 86px;
}

.red-12{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0 !important;
}
.margin-bot{
    margin-bottom: 14px !important;
}
.content-audit-data {
    text-overflow: ellipsis;
    width: 185px;
    overflow: hidden;
    white-space: nowrap;
}
.table.table-general.table-th-8 th{
    padding: 8px 12px;
  }
.border{
    border:1px solid #ccc;
}
.margin_bot_0{
    margin-bottom: 0 !important;
}
.form-asset button {
    height: 48px;
    border-radius: 0px 12px 12px 0px;
    border: 1px solid #ECEFF1;
    width: 50px;
    float: left;
    text-align: center;
    border-left: 0px;
}
.over_flow{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 60px;
}
