body{
    font-family: 'Inter', sans-serif;
    color: #323B4B;
 }
 *{
     margin: 0px;
     padding: 0px;
 }
 .font-weight500{
     font-weight: 500;
 }
.bg-login{
    height: 100vh;
    background: url(../images/Overlay.jpg) no-repeat center;
    background-size: 100%; 
    height: 100vh;
    width: 100%;
    background-size: cover;
    z-index: 3;
    position: absolute;
 }
 .bg-login::after{
    background: url(../images/Overlay.jpg) no-repeat center;
    background-size: 100%; 
    position:absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    content: "";
    background-attachment: fixed;
    background-position: center;
    background: #323B4B;
    opacity: 0.55;
    z-index: 0;
 }
 .logo-login{
    z-index: 4;
 }
 .logo-login{
    padding: 80px 0px 0px 60px;
 }
 .login-box{
    width: 490px;
    margin: 0px  auto;
    padding: 30px;
    margin-top: 80px;
 }
 .login-box input{
    padding: 16px;
    height: 56px;
    border-radius: 12px;
    color: #B0B7C3;
    padding-left: 44px;
    border: 1px solid #CFD8DC;
 }
 .login-box .form-group {
    position: relative;
    margin-bottom: 25px;
 }
 .box-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    line-height: 23px;
}
.box-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.box-checkbox.checkbox-analysis input:checked ~ .checkmark {
    background: #F6F6F7;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.box-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background: #FAFBFC;
    border: 1px solid rgba(193, 199, 208, 0.6);
    box-sizing: border-box;
    border-radius: 5px;
}
.checkbox-analysis .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 11px;
    border: solid #377DFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
 .login-box .form-group span{
    position: absolute;
    top: 12px;
    left: 10px;
    top: 15px;
 }
 .login-box input::placeholder{
    color: #B0B7C3;
 }
 .login-box h2{
    font-weight: 600;
    font-size: 32px;
    color: #323B4B;
 }
 .login-box  p{
    color: #8A94A6;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
 }
 .login-box  .box-checkbox{
    font-weight: 500;
     font-size: 16px;
     color: #8A94A6;
 }
 .login-box .btn{
    padding: 16px;
    background: #377DFF;
    border-radius: 12px;
    margin: 25px 0px;
    text-transform: uppercase;
    color: white;
 }
 .eye-login{
    position: absolute;
    top: 16px;
    right: 15px
 }
@media(max-width: 768px) { 
    .box-login .col-md-5{
        display: none;
    }
    .login-box {
        width: 100%;
    }
    .login-box {
        padding: 15px;
    }
 }