@media(max-width: 1366px) { 
   .sidebar-right .media-body {
      padding-left: 0px;
  }
  .sidebar-right .media {
   padding: 10px 20px;
}
   .sidebar-left {
      max-width: 250px;
   } 
    .box-news {
      max-width: calc(100% - 510px)!important;
   }
   .sidebar-right {
      max-width: 260px;
   }
   header .nav-item a {
      padding: 12px 14px;
   }
   .avater-user span img{
      width: 100%;
   }
   .box-user .search-expertise input {
      width: 200px;
  }
  .working-plan{
   width: 1400px;
}
.w-xs-1200{
   width: 1200px;
}
.w-lt-100{
   width: 100%!important;
}
.box-news .card .card-img-top {
   height: 150px;
}
.information .nav-tabs a {
   padding: 20px 24px 20px 0px!important;
   font-size: 17px;
}
.wlp-140{
   width: 140px;
}
 }
 @media(max-width: 1200px) { 
   .box-news .card .card-img-top {
      height: auto;
   }
   .box-news .col-md-12.col-lg-4{
      flex: 0 0 100%;
      max-width: 100%;
   }
 }
 @media(max-width: 1204px) { 
   .approve .item {
      padding: 16px 0px;
  }
   header .nav-item a {
      padding: 12px 8px;
  }
   .information .nav-tabs a {
      padding: 20px 17px 20px 0px;
      font-size: 15px;
   }
   .sidebar-left {
      flex: 250px;
   }
   .box-detail.box-user {
      flex: calc(100% - 250px)!important;
      padding: 0px 32px 32px 32px;
   }
   header .nav-item a {
      font-size: 11px;
      text-transform: inherit;
   }
   header .nav-item a span img{
   display: none;
   }
   header .nav-item a .bell img{
      display: block;
   }
   .detail-task {
      width: 97%;
   }
}
@media(max-width: 992px) {
   .logo,.menu-lg  .navbar-expand-lg {
      display: none;
   }
   .menu-md{
      display: block;
   }
   header.navbar {
      height: 80px;
      padding: 0px 10px 0px 0px;
  }
  header .nav-item a span img{
   display:inline-block;
}
   .navbar-toggler{
      border:none
   }
   .navbar-collapse{
      position: absolute;
      top: 39px;
      width: 182px;
      left: 0px;
   }
   .navbar-collapse ul {
      display: block;
      width: 182px;
      position: absolute;
      background: white;
      z-index: 9;
      border: 1px solid #ccc;
      border-radius: 12px;
      top: 27px;
   } 

}
 @media(max-width: 768px) {
   .box-news {
       margin: 0px; 
  }
    .sidebar-left,.box-news , .sidebar-right {
       max-width: 100%!important;
       flex: 100%;
   } 
   .boder-right {
      border-right:unset;
   }
   .box-news.box-user {
      max-width: 100%!important;
   }
   .sidebar-left {
      flex: 100%;
  }
   .box-news {
      border-radius: 0px; 
      padding: 15px;
   }
   .information {
      border-radius: 0px;
   }
   .btn-cancel {
      margin-right: 0px; 
   }
   .box-detail.box-user {
      flex: 100%!important;
      padding: 0px;
      max-width:100%!important;
   }
   .detail-task {
      width: 100%;
      padding: 15px;
  }
  .w-600 {
   width: 100%;
}
.notifications {
   margin-right: 17px!important;
   }
   .modal-fix .modal-dialog {
      max-width: 90%;
  }

}
 @media(max-width: 414px) {
   .attached-center {
      width: auto;
  }
   .sidebar-right {
      padding-left: 30px;
   }
   header .px-8 {
      padding-left: 5px!important;
      padding-right: 5px!important;
  }
    .xs-pr-15{
       padding-right: 15px!important;
    }
    .w-xs-100.search-expertise input, .w-xs-100{
       width: 100%!important;
    }
    .w-170 {
      width: 167px;
      margin-left: 0px; 
  }
    
   header .navbar-brand img{
      max-width: 170px;
   }
   .modal-fix .modal-content {
      padding: 25px;
  }
  .breadcrumbs {
      padding: 0px 15px;
   }
   .sidebar-left {
      padding: 0px 15px;
  }
  .creat-box{
      border-radius: 0px;
      padding: 0px;
  }
  .wm-600{
     width: 600px;
  }
  .list-checkbox{
   display: block;
   }
   .list-checkbox .box-checkbox {
      display: inline-block;
   }

   .box-filter .filter-left {
      display: inline-block!important;
  }
  .box-pagination {
   height: auto;
   }
   .box-filter .px-12.d-flex, .box-filter .search-expertise{
      padding-bottom: 15px;
   }
   .modal-fix-1 .modal-content {
      padding: 40px 20px;
  }
  .modal-fix-1  .btn-cancel, .modal-fix-1  .btn-primary{
   min-width: 100px;
  }
  .approve .item {
   padding: 10px 0px;
}
.information-asset {
   padding: 5px 0px 24px;
}
.wlp-140{
   width: 100%;
}
 }