body {
    font-family: 'Inter', sans-serif;
    color: #323B4B;

}

* {
    margin: 0px;
    padding: 0px;
}

ul, li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

.font-bold {
    font-weight: bold!important;
}

/* Customize: margin / padding / width / height */

.mr-4 {
    margin-right: 4px!important;
}

.mr-8 {
    margin-right: 8px!important;
}

.ml-8 {
    margin-left: 8px!important;
}

.ml-12 {
    margin-left: 12px!important;
}

.ml-40 {
    margin-left: 40px!important;
}

.mr-12 {
    margin-right: 12px!important;
}

.mr-16 {
    margin-right: 16px!important;
}

.mr-20 {
    margin-right: 20px!important;
}

.mb-8 {
    margin-bottom: 8px!important;
}

.mb-12 {
    margin-bottom: 12px!important;
}

.mb-24 {
    margin-bottom: 24px!important;
}

.mb-32 {
    margin-bottom: 32px!important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-12 {
    margin-top: 12px!important;
}

.mt-16 {
    margin-top: 16px!important;
}

.mt-32 {
    margin-top: 32px!important;
}

.mt-42 {
    margin-top: 42px!important;
}

.pl-8 {
    padding-left: 8px!important;
}

.pl-16 {
    padding-left: 16px !important;
}

.pl-32 {
    padding-left: 32px!important;
}

.pl-52 {
    padding-left: 52px!important;
}

.pr-8 {
    padding-right: 8px!important
}

.pr-16 {
    padding-right: 16px!important;
}

.pr-32 {
    padding-right: 32px !important;
}

.pt-16 {
    padding-top: 16px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pt-14 {
    padding-top: 14px !important;
}

.pt-24 {
    padding-top: 24px!important;
}

.pt-36 {
    padding-top: 36px!important;
}

.pt-44 {
    padding-top: 44px!important;
}

.pb-8 {
    padding-bottom: 8px !important;
}

.pb-12 {
    padding-bottom: 12px!important;
}

.pb-24 {
    padding-bottom: 24px !important;
}

.py-8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.py-10 {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-14 {
    padding-top: 14px!important;
    padding-bottom: 14px!important;
}

.py-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.py-24 {
    padding-top: 24px!important;
    padding-bottom: 24px !important;
}

.py-32 {
    padding-top: 32px!important;
    padding-bottom: 32px !important;
}

.px-8 {
    padding-left: 8px!important;
    padding-right: 8px!important;
}

.px-10 {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

.px-12 {
    padding-left: 12px!important;
    padding-right: 12px!important;
}

.px-15 {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.px-16 {
    padding-left: 16px!important;
    padding-right: 16px!important;
}

.px-20 {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.px-24 {
    padding-left: 24px!important;
    padding-right: 24px!important;
}

.px-48 {
    padding-left: 48px!important;
    padding-right: 48px!important;
}

.w-ratio-33 {
    width: 33.3%;
}

.w-20 {
    width: 20px !important;
}

.w-24 {
    width: 24px;
}

.w-80 {
    width: 80%;
}

.w-140 {
    width: 140px !important;
}

.w-148 {
    width: 148px;
}

.w-160 {
    width: 160px !important;
}
.w-180 {
    width: 180px !important;
}
.w-600 {
    width: 600px;
}

.h-40 {
    height: 40px!important;
}

.h-400 {
    height: 400px!important;
}

.h-44 {
    height: 44px;
}

.h-52 {
    height: 52px;
}

.h-20 {
    height: 20px !important;
}

.h-24 {
    height: 24px !important;
}

.bd-rds-12 {
    border-radius: 12px !important;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-700 {
    font-weight: 700;
}

/*font-size*/

.size10, .fs-10 {
    font-size: 10px!important;
}

.size11, .fs-11 {
    font-size: 11px!important;
}

.size12, .fs-12 {
    font-size: 12px!important;
}

.size13, .fs-13 {
    font-size: 13px!important;
}

.size14, .fs-14 {
    font-size: 14px!important;
}

.size16, .fs-16 {
    font-size: 16px!important;
}

.size18, .fs-18 {
    font-size: 18px!important;
}

.size24, .fs-24 {
    font-size: 24px!important;
}

.fs-28 {
    font-size: 28px!important;
}

.lh-sm1 {
    line-height: 20px;
}

/* customize  background-color */

.bg-primary {
    background: #377DFF;
}

.bg-primary-4 {
    background: #FF5630;
}

.bg-content {
    background: #F6F6F7;
}

.bg-white {
    background: #FFFFFF !important;
}

.bg-2 {
    background: #F5FCF9!important;
}

.bg-3 {
    background: #FAFBFC;
}

.bg-4 {
    background: #ECEFF1!important;
}

.bg-5 {
    background: #C1C7D0!important;
}

.bg-6 {
    background: #38CB89!important;
}

.bg-7 {
    background: #EBF2FF!important;
}

.bg-8 {
    background: #FFF6F4!important;
}

.bg-9 {
    background: #FFFBF1!important;
}

/* customize color */

.text-1 {
    color: #323B4B;
}

.text-2 {
    color: #4E5D78 !important;
}

.text-3 {
    color: #8A94A6 !important;
}

.text-4 {
    color: #B0B7C3!important;
}

.text-5 {
    color: #377DFF!important;
}

.text-6 {
    color: #38CB89!important;
}

.text-7 {
    color: #FFAB00!important;
}

.text-8 {
    color: #FF5630!important;
}

.text-9 {
    color: #FFFFFF!important;
}

/*border*/

.border-8 {
    border-radius: 8px!important;
}

.border-20 {
    border-radius: 20px!important;
}

.border-12 {
    border-radius: 12px!important;
}

.br-1 {
    border-right: 1px solid #ECEFF1!important;
}

.bl-1 {
    border-left: 1px solid #ECEFF1!important;
}

/* scroll*/

.overflow-scroll-y {
    overflow-y: scroll!important;
}

.overflow-scroll-y::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.overflow-scroll-y::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.overflow-scroll-y::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 5px;
}

/* btn */

.btn-main {
    border-radius: 12px;
    font-weight: 500;
}

/*table*/

.table-general thead th {
    border: unset;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    background: #F6F6F7;
    padding: 18px 12px;
    vertical-align: middle;
    border: unset;
    color: #4E5D78;
}

.table-general td {
    border: unset;
    font-size: 12px;
    vertical-align: middle;
    padding: 24px 12px;
    font-weight: 500;
    color: #4E5D78;
    vertical-align: middle;
}

/* box-creat*/

.creat-box {
    border-radius: 16px;
    margin-top: 20px;
    padding: 32px 17px
}

/*start header*/

header.navbar {
    height: 92px;
    box-shadow: 0px 4px 4px rgba(176, 183, 195, 0.17);
    margin-bottom: 32px;
    padding: 19px 24px;
}

header .navbar {
    margin: 0px;
    padding: 0px;
}

header .nav-item a {

 }
 *{
     margin: 0px;
     padding: 0px;
 }
 ul,li{
    list-style: none;
 }
 a,a:hover{
    text-decoration: none;
 }
 .font-bold{
    font-weight: bold!important;
 }
 /* Customize: margin / padding / width / height */
 .mr-4{
    margin-right: 4px!important;
 }
 .mr-8{
    margin-right: 8px!important;
 }
 .ml-8{
    margin-left: 8px!important;
 }
 .ml-12{
    margin-left: 12px!important;
 }
 .ml-40{
    margin-left: 40px!important;
 }
 .mr-12{
    margin-right: 12px!important;
 }
 .mr-16{
    margin-right: 16px!important;
 }
 .mr-20{
    margin-right: 20px!important;
 }
 .mb-8{
    margin-bottom: 8px!important;
 }
 .mb-12{
    margin-bottom: 12px!important;
 }
 .mb-24{
    margin-bottom: 24px!important;
 }
 .mb-32{
    margin-bottom: 32px!important;
 }
 .mt-8{
    margin-top: 8px;
 }
 .mt-12{
    margin-top: 12px!important;
 }
 .mt-16{
    margin-top: 16px!important;
 }
 .mt-32{
    margin-top: 32px!important;
 }
 .mt-42{
    margin-top: 42px!important;
 }
 .pl-8{
    padding-left: 8px!important;
 }
 .pl-16{
    padding-left: 16px !important;
 }
 .pl-32{
    padding-left: 32px!important;
 }
 .pl-52{
    padding-left: 52px!important;
 }
 .pr-8{
    padding-right: 8px!important
 }
 .pr-16{
    padding-right: 16px!important;
 }
 .pr-32{
    padding-right: 32px !important;
 }
 .pt-16{
    padding-top: 16px !important;
 }
 .pt-12{
    padding-top: 12px !important;
 }
 .pt-14{
    padding-top: 14px !important;
 }
 .pt-24{
    padding-top: 24px!important;
 }
 .pt-36{
    padding-top: 36px!important;
 }
 .pt-44{
    padding-top: 44px!important;
 }
 .pb-8{
    padding-bottom: 8px !important;
 }
 .pb-12{
    padding-bottom: 12px!important;
 }
 .pb-24{
    padding-bottom: 24px !important;
 }
 .py-8{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
 }
 .py-10{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
 }
 .py-12{
    padding-top: 12px;
    padding-bottom: 12px ;
 }
 .py-14{
    padding-top: 14px!important;
    padding-bottom: 14px!important;
 }
 .py-16{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
 }
 .py-24{
    padding-top: 24px!important;
    padding-bottom: 24px !important;
 }
 .py-32{
    padding-top: 32px!important;
    padding-bottom: 32px !important;
 }
 .px-8{
    padding-left: 8px!important;
    padding-right: 8px!important;
 }
 .px-10{
    padding-left: 10px!important;
    padding-right: 10px!important;
 }
 .px-12{
    padding-left: 12px!important;
    padding-right: 12px!important;
 }
 .px-15{
    padding-left: 15px!important;
    padding-right: 15px!important;
 }
 .px-16{
    padding-left: 16px!important;
    padding-right: 16px!important;
 }
 .px-20{
    padding-left: 20px!important;
    padding-right: 20px!important;
 }
 .px-24{
    padding-left: 24px!important;
    padding-right: 24px!important;
 }
 .px-48{
    padding-left: 48px!important;
    padding-right: 48px!important;
 }
 .w-ratio-33{
    width: 33.3%;
 }
 .w-20{
    width: 20px !important;
 }
 .w-24{
    width: 24px;
 }
 .w-80{
    width: 80%;
 }

 .w-140{
    width: 140px !important;
 }
 .w-148{
    width: 148px;
 }
 .w-160{
    width: 160px !important;
 }
 .w-600{
    width: 600px;
 }
 .h-40{
    height: 40px!important;
 }
 .h-400{
    height: 400px!important;
 }
 .h-44{
    height: 44px;
 }
 .h-52{
    height: 52px;
 }
 .h-20{
    height: 20px !important;
 }
 .h-24{
    height: 24px !important;
 }
 .bd-rds-12{
    border-radius: 12px !important;
 }
 .font-weight-500{
    font-weight: 500;
 }
 .font-weight-700{
    font-weight: 700;
 }
 /*font-size*/
 .size10,.fs-10{
    font-size: 10px!important;
 }
 .size11,.fs-11{
    font-size: 11px!important;
 }
 .size12,.fs-12{
    font-size: 12px!important;
 }
 .size13,.fs-13{
    font-size: 13px!important;
 }
 .size14,.fs-14{
    font-size: 14px!important;
 }
 .size16,.fs-16{
    font-size: 16px!important;
 }
 .size18,.fs-18{
    font-size: 18px!important;
 }
 .size24,.fs-24{
    font-size: 24px!important;
 }
 .fs-28{
    font-size: 28px!important;
 }
 .lh-sm1{
    line-height: 20px;
 }
 /* customize  background-color */
 .bg-primary{
    background: #377DFF;
 }
 .bg-primary-4{
    background: #FF5630;
 }
 .bg-content{
    background: #F6F6F7;
 }
 .bg-white{
    background: #FFFFFF !important;
 }
 .bg-2{
    background: #F5FCF9!important;
 }
 .bg-3{
   background: #FAFBFC;
 }
 .bg-4{
   background: #ECEFF1!important;
 }
 .bg-5{
    background: #C1C7D0!important;
  }
  .bg-6{
    background: #38CB89!important;
  }
  .bg-7{
    background: #EBF2FF!important;
  }
  .bg-8{
    background: #FFF6F4!important;
  }
  .bg-9{
    background: #FFFBF1!important;
  }
 /* customize color */
 .text-1{
    color: #323B4B;
 }
 .text-2{
    color: #4E5D78 !important;
 }
 .text-3{
    color: #8A94A6 !important;
 }
 .text-4{
    color: #B0B7C3!important;
 }
 .text-5{
    color: #377DFF!important;
 }
 .text-6{
    color:  #38CB89!important;
 }
 .text-7{
    color:  #FFAB00!important;
 }
 .text-8{
    color: #FF5630!important;
 }
 .text-9{
    color: #FFFFFF!important;
 }
 /*border*/
 .border-8{
    border-radius: 8px!important;
 }
 .border-20{
    border-radius: 20px!important;
 }
 .border-12{
    border-radius: 12px!important;
 }
 .br-1{
    border-right: 1px solid #ECEFF1!important;
 }
 .bl-1{
    border-left: 1px solid #ECEFF1!important;
 }
 /* scroll*/
 .overflow-scroll-y{
    overflow-y: scroll!important;
 }
 .overflow-scroll-y::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
 }
 .overflow-scroll-y::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
 }
 .overflow-scroll-y::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 5px;
 }
 /* btn */
 .btn-main{
   border-radius: 12px;
   font-weight: 500;
 }
 /*table*/
 .table-general thead  th {
   border: unset;
   font-weight: 500;
   font-size: 12px;
   text-transform: uppercase;
   background: #F6F6F7;
   padding: 18px 12px;
   vertical-align: middle;
   border: unset;
   color: #4E5D78;
 }
 .table-general td {
   border: unset;
   font-size: 12px;
   vertical-align: middle;
   padding: 24px 12px;
   font-weight: 500;
   color: #4E5D78;
   vertical-align: middle;
 }
 /* box-creat*/
 .creat-box{
    border-radius: 16px;
    margin-top: 20px;
    padding: 32px 17px
 }
 /*start header*/
 header.navbar {
    height: 100px;
    box-shadow: 0px 4px 4px rgba(176, 183, 195, 0.17);
    margin-bottom: 32px;
    padding: 19px 0px 19px 15px;
 }
 header .navbar{
    margin: 0px;
    padding: 0px;
 }
 header .nav-item a{

    font-size: 13px;
    text-transform: uppercase;
    color: #323B4B;
    padding: 17px 20px;

}

header .nav-item a span {
    padding-right: 7px;
}

header .navbar .btn-secondary {
    background-color: unset;
    border-color: unset;
}

header .dropdown-toggle::after {
    border-top: 0.3em solid #B0B7C3;
}

header .bell {
    position: relative;
}

header .bell::after, .notifications .bell::after {

 }
 header .nav-item a span{
    padding-right: 7px;
 }
 header .navbar .btn-secondary{
    background-color: unset;
    border-color: unset;
 }
 header .dropdown-toggle::after{
    border-top: 0.3em solid #B0B7C3;
 }
 header .bell{
    position: relative;
 }
 header .bell::after,.notifications .bell::after{

    background: #FF5630;
    position: absolute;
    top: -11px;
    left: 23px;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 13px;
    border: 1px solid white;

}

.notifications .bell::after {
    top: 1px;
    left: 34px;
}

header .dropdown .btn {
    padding: 0px;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: unset;
    border-color: unset;
    box-shadow: unset!important;
}

header .nav-item a.active {
    background: #EBF2FF;
    border-radius: 12px;
}

/*end header*/

/*start sidebar-left*/

.sidebar-left {
    max-width: 260px;
    padding: 0px 20px 0px 24px;
}

.sidebar-left .media {

 }
 .notifications .bell::after {
    top: 1px;
    left: 34px;
 }
 header .dropdown .btn {
    padding: 0px;
 }
 .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color:unset;
    border-color:unset;
    box-shadow: unset!important;
 }
 header .nav-item a.active {
    background: #EBF2FF;
    border-radius: 12px;
 }
 /*end header*/
 /*start sidebar-left*/
 .sidebar-left {
    max-width:260px ;
    padding: 0px 20px 0px 24px;
 }
 .sidebar-left .media {

    background: #F6F6F7;
    border-radius: 15px;
    padding: 12px;
    position: relative;
    margin-bottom: 38px;

}

.sidebar-left .media-body {
    padding-left: 12px;
}

.sidebar-left .green {

 }
 .sidebar-left .media-body {
    padding-left: 12px;
 }
 .sidebar-left .green{

    background: #38CB89;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 13px;
    left: 48px;
    border: 1px solid white;

}

.sidebar-left h4 {
    font-size: 12px;
}

.sidebar-left .media-body span {
    font-weight: 600;
    font-size: 12px;
    color: #377DFF;
}

.sidebar-left .nav-link .float-right {

 }
 .sidebar-left h4{
    font-size: 12px;
 }
 .sidebar-left .media-body  span{
    font-weight: 600;
    font-size: 12px;
    color: #377DFF;
 }
  .sidebar-left .nav-link .float-right{

    background: #8A94A6;
    border-radius: 48px;
    padding: 1px 6px;
    font-size: 11px;
    color: white;

}

.sidebar-left .nav-item a {
    font-size: 14px;
    color: #323B4B;
    padding: 12px;
}

.sidebar-left .nav-item a span {
    padding-right: 7px;
}
  .sidebar-left  .nav-item a{
    font-size: 14px;
    color: #323B4B;
    padding: 8px 12px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 33px;
 }
 .sidebar-left  .nav-item a span{
    padding-right: 7px;
 }
 .btn-setup {

    background: #38CB89;
    border-radius: 4px;
    padding: 4px 12px;
    font-size: 12px;
    color: white;

}

.title-menu {
    padding: 40px 10px 13px;
}

.title-menu h3 {

 }
 .title-menu{
    padding: 40px 10px 13px;
 }
 .title-menu h3{

    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    color: #8A94A6;

}

/*end sidebar-left*/

/*start slide-right*/

.sidebar-right {
    max-width: 280px;
    padding: 0px 24px 0px 30px;
}

.sidebar-right .media {
    background: #F6F6F7;
    border-radius: 15px;
    padding: 20px 23px;
    position: relative;
    margin-bottom: 16px;
}

.sidebar-right h4 {
    font-size: 14px;
    font-weight: 500;
}

.sidebar-right .media-body span {
    font-size: 12px;
}

.sidebar-right .media-body {
    padding-left: 16px;
}

/*end sidebar-right*/

/*start box-news*/

.box-news {

 }
 /*end sidebar-left*/
 /*start slide-right*/
 .sidebar-right .media {
    background: #F6F6F7;
    border-radius: 15px;
    padding:20px 23px;
    position: relative;
    margin-bottom: 16px;
 }
 .sidebar-right h4 {
    font-size: 14px;
    font-weight: 500;
 }
 .sidebar-right .media-body span {
    font-size: 12px;
 }
 .sidebar-right .media-body{
    padding-left: 16px;
 }
 /*end sidebar-right*/
 /*start box-news*/
 .box-news{
    max-width: calc(100% - 540px)!important;
    padding: 0px 20px 38px 39px;
    border-left: 1px solid #F3F3F3;
}
.box-news .card {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 24px;
    border-width: 0px;
}
.box-news .card-text {
    background:#F3F3F3;
 }
 .box-news .card{
    background: #FFFFFF;
     border-radius: 12px;
     padding: 24px;
     border-width: 0px;
 }
 .box-news .card-text {

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 7px;
}
.box-news .card-date {
    font-size: 12px;
    font-weight: 400;
    color: #8A94A6;
}
.viewmore {
    font-size: 13px;
    font-weight: 400;
    color: #377DFF;
}

.box-news .card-date img {
    padding-right: 5px;
}

.box-news .card .card-img-top {
    border-radius: 8px;
}

.approve .media img {
    width: 68px;
    height: 68px;
    border-radius: 40px;
}

.box-news .col-md-4 {
    padding-right: 9px;
    padding-left: 9px;
}

.box-news .card-body {
    padding: 13px 0px;
}

.approve h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.approve .media-body {
    padding-left: 16px;
}

.approve .date {
    font-size: 12px;
    font-weight: 500;
    color: #8A94A6;
}

.approve {
    background: white;
    padding: 24px;
    border-radius: 12px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding: 10px 0px 18px;
}

.approve .blue {

 }
 .box-news .card-date{
    font-size: 12px;
    font-weight: 400;
    color: #8A94A6;
 }
 .viewmore {
    font-size:13px;
    font-weight: 400;
    color:#377DFF;
 }
 .box-news .card-date img{
    padding-right: 5px;
 }
 .box-news .card .card-img-top{
    border-radius: 8px;
 }
 .approve .media img{
    width: 68px;
    height: 68px;
    border-radius: 40px;
 }
 .box-news .col-md-4{
    padding-right: 9px;
     padding-left: 9px;
 }
 .box-news .card-body{
    padding: 13px 0px;
 }
 .approve  h4{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
 }
 .approve .media-body{
    padding-left: 16px;
 }
 .approve .date{
    font-size: 12px;
    font-weight: 500;
    color: #8A94A6;
 }
 .approve{
    background: white;
    padding: 24px;
    border-radius: 12px;
 }
 .title{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding: 10px 0px 18px;
 }
 .approve .blue{

    background: #E5F7EF;
    border-radius: 4px;
    color: #38CB89;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 12px;

}

.approve .yellow {

 }
 .approve .yellow{

    background: #FDF4E0;
    border-radius: 4px;
    color: #FFAB00;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 12px;

}

.approve .item {
    padding: 16px 48px;
}

.btn-viewmore-news {

 }
 .approve .item{
    padding: 16px 48px;
 }
 .btn-viewmore-news{

    background: #377DFF;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 13px;
    color: white;
    margin-top: 12px;

}

.title-approve {

 }
 .title-approve{

    background: #FAFBFC;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8A94A6;
    padding: 18px 24px;
    position: relative;
    width: 100%;
    text-transform: uppercase;

}

/*end box-news*/

/*start footer*/

footer {
    background: #034da2;
    color: #C1C7D0;
    padding: 40px 36px;
}

footer h3 {
    font-size: 13px;
    font-weight: 400;
}

.license {
    font-size: 12px;
}

footer span {
    font-size: 12px;
}

footer p {
    margin-bottom: 8px;
}

footer .nav-link {
    color: #8A94A6;
    font-size: 12px;
    padding: 5px 0px;
}

.boder-right {
    border-right: 1px solid #4e5d7896;
}

/*end footer*/

/*add-user*/

.box-news.box-user {
    max-width: calc(100% - 310px)!important;
}

.information {
    padding: 32px 24px;
    background: #FFFFFF;
    border-radius: 15px;
}

.information .nav-tabs {
    border-bottom: 1px solid #F3F3F3;
}

.information .nav-tabs a {
    padding: 20px 51px 20px 0px;
    border: unset;
    background: unset;
}
.information .nav-tabs a:hover {
    color: #377DFF;
}
.information .nav-tabs a span {
    padding: 21px 0px;
}

.information .nav-tabs a.active {
    background-color: unset;
    color: #377DFF;
}

.information .nav-tabs a.active span {
    border-bottom: 1px solid #377DFF;
}

.information .nav-tabs a {
    font-size: 18px;
    font-weight: 500;
    color: #8A94A6;
}

.avater-user {
    text-align: center;
    display: grid;
    margin: auto;
}

.btn-pent, .btn-pent:hover {

 }
 /*end box-news*/
 /*start footer*/
 footer{
    background: #034da2;
    color: #C1C7D0;
    padding: 40px 36px;
 }
 footer h3{
    font-size: 13px;
    font-weight: 400;
 }
 .license{
    font-size: 12px;
 }
 footer span{
    font-size: 12px;
 }
 footer p{
    margin-bottom: 8px;
 }
 footer .nav-link{
    color: #8A94A6;
    font-size: 12px;
    padding: 5px 0px;
 }
 .boder-right{
    border-right: 1px solid #4e5d7896;
 }
 /*end footer*/
 /*add-user*/
 .box-news.box-user{
    max-width: calc(100% - 310px)!important;
 }
 .information{
    padding: 32px 24px;
    background: #FFFFFF;
    border-radius: 15px;
 }
 .information .nav-tabs {
    border-bottom: 1px solid #F3F3F3;
 }
 .information .nav-tabs a{
    padding: 20px 40px 20px 0px;
    border:unset
 }
 .information .nav-tabs a span{
    padding: 21px 0px;
 }
 .information .nav-tabs a.active{
    background-color:unset;
    color:#377DFF;
 }
 #from_date,#to_date{
     font-size: 13px;
 }
 .information .nav-tabs a.active span{
    border-bottom: 1px solid #377DFF;
 }
 .information .nav-tabs  a{
    font-size: 18px;
    font-weight: 500;
    color: #8A94A6;
 }
 .avater-user{
    text-align: center;
     display: grid;
     margin: auto;
 }
 .btn-pent,.btn-pent:hover{

    padding: 12px 20px;
    background: #38CB89;
    border-radius: 12px;
    color: #fff;
    font-size: 14px;
    margin-top: 24px;

}

.btn-pent img {
    padding-right: 8px;
}

.inner-tab {
    padding-top: 50px;
}

.title-personal {

 }
 .btn-pent  img{
    padding-right: 8px;
 }
 .inner-tab{
    padding-top:50px;
 }
 .title-personal {

    font-size: 13px;
    text-transform: uppercase;
    padding: 15px 0px 20px 8px;
    color: #4E5D78;

}

.avater-user span img {
    border-radius: 100px;
}

.box-user label {
    font-size: 14px;
    color: #8A94A6;
}

.box-user .form-control {

 }
 .avater-user span img{
    border-radius: 100px;
 }
 .box-user label{
    font-size: 14px;
    color: #8A94A6;
 }
 .box-user .form-control{

    height: 48px;
    border-radius: 12px;
    border: 1px solid #ECEFF1;
    font-size: 14px;
    font-weight: 500;

}

.box-user .note {

 }
 .box-user .note{

    border: 1px solid #ECEFF1;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 16px 16px 58px;
    font-size: 14px;

}

.box-user .form-group {
    margin-bottom: 24px;
}

.box-news.box-user .col-md-4 {
    padding-right: 10px;
    padding-left: 10px;
}

.group-btn .btn {

 }
 .box-user .form-group {
    margin-bottom: 24px;
 }
 .box-news.box-user .col-md-4 {
    padding-right: 10px;
    padding-left: 10px;
 }
 .group-btn .btn{

    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 48px;

}

.btn-cancel {
    color: #8A94A6;
    background: #ECEFF1;
    padding: 12px 58px;
    margin-right: 18px;
}

.btn-save {
    background: #377DFF;
    color: #FFFFFF!important;
    padding: 12px 49px;
}

.title-menu h3.color-gray {
    color: #B0B7C3;
}

.inner-tab table th {
    border: unset;

 }
 .btn-cancel{
    color: #8A94A6;
    background: #ECEFF1;
    padding: 12px 58px;
    margin-right: 18px;
 }
 .btn-save{
    background: #377DFF;
    color: #FFFFFF!important;
    padding: 12px 49px;
 }
 .title-menu h3.color-gray{
    color: #B0B7C3;
 }
 .inner-tab table th{
    border:unset;

    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    background: #F6F6F7;
    padding: 18px 12px;

}

.inner-tab table td {
    border: unset;

 }
 .inner-tab table td{
    border:unset;

    font-size: 12px;
    vertical-align: middle;
    padding: 24px 12px;
    font-weight: 500;
    color: #4E5D78;

}

.inner-tab .border-radius {
    border-radius: 8px;
}

.border-radius-left {
    border-radius: 8px 0px 0px 8px;
}

.border-radius-right {
    border-radius: 0px 8px 8px 0px;
}

.btn-classification {

 }
 .inner-tab .border-radius{
    border-radius: 8px;
 }
 .border-radius-left{
    border-radius: 8px 0px 0px 8px;
 }
 .border-radius-right{
    border-radius: 0px 8px 8px 0px;
 }
 .btn-classification{

    padding: 10px 30px 10px 30px;
    color: #FF5630;
    font-weight: 500;
    font-size: 12px;
    border-radius: 9px;
    background: #FFF6F4;

}

.par6 {
    padding: 0px 6px;
}

.btn-adduser {
    background: #F6F6F7;
    border-radius: 12px;
    padding: 8px 10px;
}

.border-bottom {
    border-bottom: 1px solid #F3F3F3;
}

.btn-finish {
    padding: 10px 30px 10px 30px;
    color: #38CB89;
    font-weight: 500;
    font-size: 12px;
    border-radius: 9px;
    background: #F5FCF9;
}

.title-main {
    font-weight: 600;
    font-size: 22px;
    color: #323B4B;
}

.pd20 {
    padding: 0px 20px 30px 20px;
}

.btn-edit2 {
    background: #F6F6F7;
    border-radius: 42px;
}

/*detail_cv*/

.angle-right {
    position: absolute;
    right: -9px;
    top: 16px;
}

.nav-item {
    position: relative;
}

.dropdown-menu-left {
    display: none;
    padding-left: 35px;
}

.dropdown-menu-left li {
    position: relative;
}

ul.active {
    display: block;
}

.circle {

 }
 .par6 {
    padding: 0px 6px;
 }
 .btn-adduser{
    background: #F6F6F7;
    border-radius: 12px;
    padding: 8px 10px;
 }
 .border-bottom{
    border-bottom: 1px solid #F3F3F3;
 }
 .btn-finish{
    padding: 10px 30px 10px 30px;
    color: #38CB89;
     font-weight: 500;
     font-size: 12px;
     border-radius: 9px;
     background: #F5FCF9;
 }
 .title-main{
    font-weight: 600;
    font-size: 22px;
    color: #323B4B;
 }
 .pd20{
    padding: 0px 20px 30px 20px;
 }
 .btn-edit2{
    background: #F6F6F7;
     border-radius: 42px;
 }

 /*detail_cv*/
 .angle-right{
    position: absolute;
    right: -9px;
    top: 10px;
 }
 .nav-item{
    position: relative;
 }
 .dropdown-menu-left{
    display: none;
    padding-left: 35px;
 }
 .dropdown-menu-left li{
    position: relative;
 }
 ul.active{
    display: block;
 }.circle{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    left: -9px;
    top: 15px;
    background: rgba(193, 199, 208, 0.5);

}

.dropdown-menu-left .active .circle {
    background: #377DFF;
}

.active .angle-right {
    top: 12px;
    transform: rotate( 90deg);
}

.listcheckbox {
    font-size: 14px;
    color: #8A94A6;
}

.detail-task {

 }
 .dropdown-menu-left .active .circle{
    background: #377DFF;
 }
 .active .angle-right {
    top: 12px;
    transform: rotate( 90deg);
 }
 .listcheckbox{
    font-size: 14px;
    color: #8A94A6;
 }
 .detail-task{

    width: 75%;
    margin: auto;
    padding: 24px 40px;
    background: white;

}

.box-checkbox input {

 }
    .box-checkbox input {

    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    }

    .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background: #FAFBFC;
    border: 1px solid rgba(193, 199, 208, 0.6);
    box-sizing: border-box;
    border-radius: 5px;

}

.box-checkbox input:checked~.checkmark {
    background-color: #FFAB00;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.box-checkbox input:checked~.checkmark:after {
    display: block;
}

.box-checkbox .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate( 45deg);
    -ms-transform: rotate(45deg);
    transform: rotate( 45deg);
}

.box-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    line-height: 23px;
}

.detail-task h4 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 35px;
}

.breadcrumbs {
    font-size: 13px;
    color: #377DFF;
}

.breadcrumbs a {
    color: #8A94A6
}

.dropdown-menu-left a.active {
    color: #377DFF;
}

.file {
    font-size: 14px;
}

.box-detail.box-user {
    max-width: calc(100% - 260px)!important;
    padding: 0px 39px 32px 39px;
    border-left: 1px solid #F3F3F3;
}

.bd-border {
    background: #F6F6F7;
    border-radius: 16px;
    margin-top: 20px;
    padding: 32px 17px;
}

/*danh sách hội đồng thẩm định*/

.code {
    color: #377DFF;
    text-transform: uppercase;
}

.mr0 {
    margin: 0px;
}

.btn-viewmore-news.mr0 {
    padding: 11px 16px;
}

.search-expertise span {
    position: absolute;
    top: 13px;
    left: 9px;
}
    .box-checkbox input:checked ~ .checkmark {
    background-color:  #FFAB00;
    }
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }

    .box-checkbox input:checked ~ .checkmark:after {
    display: block;
    }

    .box-checkbox .checkmark:after {
       left: 8px;
       top: 3px;
       width: 5px;
       height: 11px;
       border: solid white;
       border-width: 0 2px 2px 0;
       -webkit-transform: rotate(
   45deg
   );
       -ms-transform: rotate(45deg);
       transform: rotate(
   45deg
   );
    }
    .box-checkbox {
       display: block;
       position: relative;
       padding-left: 35px;
       margin-bottom: 12px;
       cursor: pointer;
       font-size: 22px;
       line-height: 23px;
    }
 .detail-task h4{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 35px;
 }
 .breadcrumbs{
    font-size: 13px;
    color: #377DFF;
 }
 .breadcrumbs a{
    color: #8A94A6
 }
 .dropdown-menu-left a.active  {
    color: #377DFF;
 }
 .file{
    font-size: 14px;
 }
 .box-detail.box-user{
    max-width: calc(100% - 260px)!important;
    padding: 0px 39px 32px 39px;
    border-left: 1px solid #F3F3F3;
 }
 .bd-border{
         background: #F6F6F7;
        border-radius: 16px;
        margin-top: 20px;
        padding: 32px 17px;
 }
 /*danh sách hội đồng thẩm định*/
 .code{
    color: #377DFF;
    text-transform: uppercase;
 }
 .mr0{
    margin: 0px;
 }
 .btn-viewmore-news.mr0{
    padding: 11px 16px;
 }

 .box-user .search-expertise input{

    padding-left: 33px;
    background: #FAFBFC;
    border: none;
    width: 300px;

}

.pagination a {

 }
 .pagination a{

    padding: 10px;
    font-size: 14px;
    color: #B0B7C3;
    padding: 10px 11px;

}

.pagination .prev, .pagination .next {

 }
 .pagination .prev,.pagination .next{

    background: #F3F3F3;
    border-radius: 10px;
    padding: 3px 16px!important;
    font-size: 27px!important;
    line-height: 27px!important;

}

.pagination .next.active {
    background: #377DFF;
    color: white;
}

.filter-pagination {
    color: #B0B7C3;
    font-size: 12px;
}

.filter-pagination select {


 }
 .pagination .next.active {
    background: #377DFF;
    color: white;
 }
 .filter-pagination {
    color: #B0B7C3;
    font-size: 12px;
 }
 .filter-pagination select{

    width: 75px;
    display: inline;
    background: #F3F3F3;
    border: none!important;
    margin: 0px 8px;
    color: #4E5D78;

}

.box-pagination {

 }
 .box-pagination{

    background: #FAFBFC;
    border-radius: 8px;
    padding: 10px 24px;
    height: 65px;

}

.pagination {
    margin-bottom: 0px;
    padding: 9px 0px;
}

.pt0 {
    padding-top: 0px;
}

/*y tuong nghien cuu*/

.inline-block {
    display: inline-block;
}

.w-170 {
    width: 167px;
    margin-left: 15px;
}

.w-170 select {
    font-size: 12px;
    color: #8A94A6;
}

.min-width {
    min-width: 152px;
}

.circle2 {

 }
 .pagination {
    margin-bottom: 0px;
    padding: 9px 0px;
 }
 .pt0{
    padding-top: 0px;
 }
 /*y tuong nghien cuu*/
 .inline-block{
    display: inline-block;
 }
 .w-170{
    width: 167px;
    margin-left: 15px;
 }
 .w-170 select{
    font-size: 12px;
    color: #8A94A6;
 }
 .min-width{
    min-width: 152px;
 }
 .circle2{

    width: 5px;
    height: 5px;
    border-radius: 12px;
    position: absolute;
    left: -9px;
    top: 18px;
    background: rgba(193, 199, 208, 0.5);
    padding-right: 0px!important;

}

.dropdown-menu-left .active .active .circle2 {
    background: #377DFF;
}

/*Tạo mơi*/

.box-idea {
    border-radius: 0px;
    padding-top: 50px;
}

textarea.form-control {
    height: auto!important;
}

.group-btn2 .btn {
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
}

.box-idea label {
    font-size: 14px;
    font-weight: 500;
}

.box-user .form-control {
    font-size: 16px;
    color: #4E5D78;
}

.w-60 {
    width: 60px;
    display: inline-block;
}

.participants-check {

 }
 .dropdown-menu-left .active .active .circle2 {
    background: #377DFF;
 }
 /*Tạo mơi*/
 .box-idea{
    border-radius: 0px;
    padding-top: 50px;

 }
 textarea.form-control {
    height: auto!important;
 }
 .group-btn2 .btn {
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
 }
 .box-idea label{
    font-size: 14px;
    font-weight: 500;
 }
 .box-user .form-control {
    font-size: 16px;
    color: #4E5D78;
 }
 .w-60{
    width: 60px;
    display: inline-block;
 }
 .participants-check {

    background: #FAFBFC;
    border-radius: 8px;
    height: 56px;
    line-height: 56px;
    margin: 6px 0px;
    padding: 0px 10px;
    color: #4E5D78;

}

.participants-check .box-checkbox input:checked~.checkmark {
    background: #377DFF;
}

.participants-check .box-checkbox {
    margin-top: 16px;
    font-size: 16px;
    color: #4E5D78;
}

.participants-check label {
    color: #4E5D78;
}

/*danh sách kế hoạch công tác*/

.bg-gray {
    background: #F6F6F7;
    color: #8A94A6;
}

.bg-green {
    background: #E5F7EF;
    color: #8A94A6;
}

.mrr16 {
    margin-right: 16px;
}

.inner-tab .working-plan th {

 }
 .participants-check  .box-checkbox input:checked ~ .checkmark {
    background: #377DFF;
 }
 .participants-check .box-checkbox{
    margin-top: 16px;
    font-size: 16px;
    color: #4E5D78;
 }
 .participants-check label{
    color: #4E5D78;
 }
 /*danh sách kế hoạch công tác*/
 .bg-gray{
    background: #F6F6F7;
    color: #8A94A6;
 }
 .bg-green{
    background: #E5F7EF;
    color: #8A94A6;
 }
 .mrr16{
    margin-right: 16px;
 }
 .inner-tab  .working-plan th{

    font-size: 11px;
    padding: 7px 12px;
    vertical-align: middle;
    text-align: center;
    position: relative;

}

.emergency {
    color: #FF5630;
}

.btn-plan {
    font-size: 12px;
    border-radius: 12px;
    padding: 8px 12px 8px 12px;
    color: #377DFF;
}

.search-plan .form-control {
    font-size: 12px;
}

.yellow {
    color: #FFAB00;
}

.color-green {
    color: #38CB89;
}

.bg-blue {
    background: #F4F8FF;
}

.bg-yellow {
    background: #FFFBF1;
}

.detail-task .title-plan {

 }
 .emergency{
    color: #FF5630;
 }
 .btn-plan{
    font-size: 12px;
     border-radius: 12px;
     padding: 8px 12px 8px 12px;
     color: #377DFF;
 }
 .search-plan .form-control{
    font-size: 12px;
 }
 .yellow{
    color: #FFAB00;
 }
 .color-green{
    color: #38CB89;
 }
 .bg-blue{
    background: #F4F8FF;
 }
 .bg-yellow{
    background: #FFFBF1;
 }
 .detail-task .title-plan{

    color: #4E5D78;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 63px;

}

.box-calendar {
    background: #FAFBFC;
    border: 1px dashed rgba(193, 199, 208, 0.6);
    border-radius: 12px;
    padding: 32px 24px 32px 24px;
    margin-bottom: 16px;
}

.custom-file-input {
    width: 200px;
    float: right;
}

.upload-file .file {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.attached-files img {
    float: left;
}

.attached-files .content-file {
    font-weight: 500;
    font-size: 12px;
    margin-left: 40px;
}

.attached-files .content-file p {
    margin-bottom: 0px;
}

.kb {
    color: #8A94A6;
}

.attached-files {

 }
 .box-calendar{
    background: #FAFBFC;
     border: 1px dashed rgba(193, 199, 208, 0.6);
     border-radius: 12px;
     padding: 32px 24px 32px 24px;
     margin-bottom: 16px;
 }
  .custom-file-input{
     width: 200px;
     float: right;
  }
  .upload-file .file{
    position: absolute;
    right: 20px;
    cursor: pointer;
 }
 .attached-files img{
    float: left;
 }
 .attached-files .content-file{
    font-weight: 500;
     font-size: 12px;
     margin-left: 40px;
 }
 .attached-files .content-file p{
    margin-bottom: 0px;
 }
 .kb{
    color: #8A94A6;
 }
 .attached-files{

    background: #FAFBFC;
    border-radius: 12px;
    padding: 12px 40px 12px 16px;
    display: inline-block;
    position: relative;

}

.attached-files span {

 }
 .attached-files span{

    float: right;
    position: absolute;
    right: 10px;
    top: 21px;

}

.box-calendar .attached-files {
    border: 1px solid #ECEFF1;
    background: white;
}

.attached-center {
    width: 322px;
    margin: auto;
    position: relative;
}

.attached-center .custom-file-input {
    width: 200px;
    float: unset!important;
}

.bd-attached {
    background: #FAFBFC;
    border-radius: 12px;
    padding: 9px 14px 5px 10px;
}

.bd-attached .file {

 }
 .box-calendar .attached-files{
    border: 1px solid #ECEFF1;
    background: white;
 }
 .attached-center{
    width: 322px;
    margin: auto;
    position: relative;
 }
 .attached-center .custom-file-input {
    width: 200px;
    float: unset!important;
 }
 .bd-attached{
    background: #FAFBFC;
    border-radius: 12px;
    padding: 9px 14px 5px 10px;
 }
 .bd-attached .file{

    width: 100%;
    text-align: center;
    position: absolute;
    top: 7px;
    left: 0px;

}

.border-top {
    border-top: 1px solid #ECEFF1;
    padding-top: 27px;
}

.bg-user {
    display: inline-block;
}

.bg-user1 {
    background: #F5FCF9;
    margin-right: 16px;
}

.bg-user2 {
    background: #F4F8FF;
}

.active-status {

 }
 .border-top{
    border-top: 1px solid #ECEFF1;
    padding-top: 27px;
 }
 .bg-user{
    display: inline-block;
 }
 .bg-user1{
    background: #F5FCF9;
    margin-right: 16px;
 }
 .bg-user2{
    background: #F4F8FF;
 }
 .active-status{

    background: #F6F6F7;
    border-radius: 15px;
    width: 48px;
    height: 28px;
    margin: auto;
    position: relative;

}

.active-status span {

 }
 .active-status span{

    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: #C1C7D0;
    position: absolute;
    top: 5px;
    left: 6px;

}

.active-status.active {
    background: #EBF2FF;
}

.active-status.active span {
    background: #377DFF;
    left: unset;
    right: 5px;
}

.pagination .active {
    color: #377DFF;
}

.box-checkbox.checkbox-analysis input:checked~.checkmark {
    background: #F6F6F7;
    left: 43%;
}

.checkbox-analysis .checkmark:after {
    border: solid #377DFF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate( 45deg);
    -ms-transform: rotate(45deg);
    transform: rotate( 45deg);
}

.w50 {
    width: 70px;
    max-width: 70px;
}

.border-r::before {

 }
 .active-status.active{
    background: #EBF2FF;
 }
 .active-status.active span{
    background: #377DFF;
    left: unset;
    right: 5px;
 }
 .pagination  .active{
    color: #377DFF;
 }
 .box-checkbox.checkbox-analysis input:checked ~ .checkmark {
    background: #F6F6F7;
    left: 43%;
 }
 .checkbox-analysis .checkmark:after {
    border: solid #377DFF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(
 45deg
 );
    -ms-transform: rotate(45deg);
    transform: rotate(
 45deg
 );
 }
 .w50 {
    width: 70px;
    max-width: 70px;
 }
 .border-r::before{

    position: absolute;
    right: 1px;
    height: 18px;
    width: 1px;
    content: "";
    top: 6px;
    z-index: 999;
    background: #C1C7D0;

}

.w90 {
    width: 90px;
    max-width: 90px;
}

/*Modal*/

.modal-dialog {
    max-width: 520px;
    margin: 160px auto;
}

.modal-content {

 }
 .w90{
    width: 90px;
    max-width: 90px;
 }
 /*Modal*/
 .modal-dialog {
    max-width: 520px;
    margin: 160px auto;

 }
 .modal-content{

    background: #FFFFFF;
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
    border-radius: 20px;
    padding: 40px 48px;

}

.modal-body {
    padding: 0px 0px 35px 0px;
    font-size: 18px;
}

.modal-body h4 {

 }
 .modal-body{
    padding: 0px 0px 35px 0px;
    font-size: 18px;
 }
 .modal-body h4{

    font-weight: 600;
    font-size: 28px;
    color: #323B4B;
    padding-bottom: 15px;

}

.related {
    padding-top: 20px;
    margin-bottom: 0px;
}

.related a {
    text-decoration: underline;
    font-size: 14px;
}

.related img {
    padding-right: 10px;
}

.pent-input {
    position: absolute;
    right: 34px;
    bottom: 34px;
}

.code-topic {
    width: calc(100% - 108px)!important;
    float: left;
    margin-bottom: 24px;
}

.btn-code {

 }
 .related{
    padding-top: 20px;
    margin-bottom: 0px;
 }
 .related a {
    text-decoration: underline;
    font-size: 14px;
 }
 .related img{
    padding-right: 10px;
 }
 .pent-input{
    position: absolute;
    right: 34px;
    bottom: 34px;
 }
 .code-topic{
    width: calc(100% - 108px)!important;
    float: left;
    margin-bottom: 24px;
 }
 .btn-code{

    width: 100px;
    float: right;
    background: #ECEFF1;
    border-radius: 12px;
    color: #8A94A6;
    margin-left: 8px;
    height: 48px;
    border: 1px solid #ECEFF1;

}

.color-default {
    color: #377DFF;
}

.checkradio .checkmark {
    border-radius: 22px;
}

.checkradio .box-checkbox .checkmark:after {

 }
 .color-default{
    color: #377DFF;
 }
 .checkradio .checkmark {
    border-radius: 22px;
 }
 .checkradio .box-checkbox .checkmark:after {

    left: 6px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #fff;

}

.checkradio .box-checkbox input:checked~.checkmark, .checkradio .box-checkbox input:checked~.checkmark {
    background: #377DFF;
}

.checkradio .box-checkbox {
    float: left;
    padding-right: 20px;
}

.modal-fix .modal-dialog {
    max-width: 744px;
    margin: 80px auto;
}

.modal-fix .modal-header, .modal-fix .modal-body, .modal-fix .modal-footer {
    border: 0;
    padding: 0;
}

.modal-fix .modal-header {
    margin-bottom: 16px;
}

.modal-fix .modal-body {
    margin-bottom: 24px;
}

.modal-fix .modal-header {
    width: 100%;
    justify-content: center;
}

.modal-fix .modal-header h6 {

 }
 .checkradio .box-checkbox input:checked ~ .checkmark ,.checkradio .box-checkbox input:checked ~ .checkmark{
    background: #377DFF;
 }
 .checkradio .box-checkbox {
    float: left;
    padding-right: 20px;
 }

 .modal-fix .modal-dialog{
    max-width: 744px;
    margin: 80px auto;
 }
 .modal-fix .modal-header, .modal-fix .modal-body, .modal-fix .modal-footer{
    border: 0;
    padding: 0;
 }
 .modal-fix .modal-header{
    margin-bottom: 16px;
 }
 .modal-fix .modal-body{
    margin-bottom: 24px;
 }
 .modal-fix .modal-header{
    width: 100%;
    justify-content: center;
 }
 .modal-fix .modal-header h6{

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;

}

.info-asset {

 }
 .info-asset{

    background: #FAFBFC;
    border-radius: 12px;
    padding: 20px 12px;
    margin-bottom: 24px;

}

.info-asset .info-item {
    margin-bottom: 16px;
}

.info-asset .info-item:last-child {
    margin-bottom: 0;
}

.info-asset .item-tỉtle {

 }
 .info-asset .info-item{
    margin-bottom: 16px;
 }
 .info-asset .info-item:last-child{
    margin-bottom: 0;
 }
 .info-asset .item-tỉtle{

    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;

}

.info-asset .item-tỉtle p {
    margin-bottom: 0;
}

.info-asset .item-tỉtle span {
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.info-asset .item-tỉtle span img {
    width: 100%;
}

.info-asset .item-field {
    display: flex;
    padding: 4px 0;
}

.info-asset .item-field .name {

 }
 .info-asset .item-tỉtle p{
    margin-bottom: 0;
 }
 .info-asset .item-tỉtle span{
    width: 24px;
    height: 24px;
    overflow: hidden;
 }
 .info-asset .item-tỉtle span img{
    width: 100%;
 }
 .info-asset .item-field{
    display: flex;
    padding: 4px 0;
 }
 .info-asset .item-field .name{
    /* width: 40%; */
    margin: 0 4px 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #8A94A6;

}

.info-asset .item-field .content {

 }
 .info-asset .item-field .content{

    width: 60%;
    margin: 0 4px 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #323B4B;
 }

 .info-item .col-6, .info-item .col-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.modal-fix .pd-col {
    padding: 0 10px;
}

.info-request {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.info-request label {

 }

 .modal-fix .pd-col{
    padding: 0 10px;
 }
 .info-request{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
 }

 .info-request label{

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8A94A6;

}


.info-request input, .info-request textarea, .info-request select {

 }
 .info-request input, .info-request textarea, .info-request select{

    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #ECEFF1;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #4E5D78;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;

}


.info-request input:disabled, .info-request textarea:disabled, .info-request select:disabled {
    background: #F6F6F7;
    border: 0;
}

.info-request input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
    z-index: 1;
}

.info-request input[type="date"]:before {

 }
 .info-request input:disabled, .info-request textarea:disabled, .info-request select:disabled{
    background: #F6F6F7;
    border: 0;
 }
 .info-request input[type="date"]::-webkit-calendar-picker-indicator{
    background: none;
    z-index: 1;
 }
 .info-request input[type="date"]:before{

    content: '';
    background: url(../images/calendar.svg) no-repeat center;
    background-size: 100%;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 16px;

}

.info-request select {

 }
 .info-request select{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/Angle-down.svg) #FFFFFF no-repeat;
    background-size: 24px 24px;
    background-position-y: center;
    background-position-x: 95%;

}

.info-request input[type="file"] {
    display: none;
}

.info-request .attachfile-field {

 }
 .info-request input[type="file"]{
    display: none;
 }
 .info-request .attachfile-field{

    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #377DFF;

}

.info-request .attachfile-field img {
    margin-left: 4px;
}

.info-request input:focus, .info-request textarea:focus, .info-request select:focus {
    border: 1px solid #ECEFF1;
    outline: none;
}

.info-request textarea {

 }
 .info-request .attachfile-field img{
    margin-left: 4px;
 }
 .info-request input:focus, .info-request textarea:focus, .info-request select:focus{
    border: 1px solid #ECEFF1;
    outline: none;
 }
 .info-request textarea{

    height: 100px;
    resize: none;
    padding-top: 12px;
    padding-bottom: 12px;

}

.modal-fix .modal-content {
    padding: 40px 38px;
}

.modal-fix .modal-footer {
    display: flex;
    justify-content: center;
}

.modal-fix .btn-primary, .modal-fix .btn-cancel {

 }
 .modal-fix .modal-content{
    padding: 40px 38px;
 }
 .modal-fix .modal-footer{
    display: flex;
    justify-content: center;
 }
 .modal-fix .btn-primary, .modal-fix .btn-cancel{

    min-width: 148px;
    height: 52px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 10px;
    border-radius: 12px;

}

.modal-fix .btn-primary {
    background: #377DFF;
    color: #FFFFFF;
}

.modal-fix .btn-cancel {
    background: #ECEFF1;
    color: #8A94A6;
    border: 0;
}

.btn img {
    padding-right: 8px;
}

.bg-oranges {
    background: #FFEFEB;
    color: #8A94A6;
}

.add-property {
    background: #F4F8FF;
    color: #377DFF;
    margin-bottom: 8px;
}

.bd-attached .file img {
    padding-left: 3px;
}

.box-checkbox.checkbox-analysis .checkmark {
    left: 43%;
}

.check-minus .checkmark::before {

 }
 .modal-fix .btn-primary{
    background: #377DFF;
    color: #FFFFFF;
 }
 .modal-fix .btn-cancel{
    background: #ECEFF1;
    color: #8A94A6;
    border: 0;
 }
 .btn img{
    padding-right: 8px;
 }
 .bg-oranges{
    background: #FFEFEB;
    color: #8A94A6;
 }
 .add-property{
    background: #F4F8FF;
    color: #377DFF;
    margin-bottom: 8px;
 }
 .bd-attached .file img{
    padding-left: 3px;
 }
 .box-checkbox.checkbox-analysis  .checkmark {
    left: 43%;
 }
 .check-minus .checkmark::before{

    content: "-";
    left: 4px;
    top: -2px;
    position: absolute;
    font-size: 25px;

}

.box-checkbox.check-minus input:checked~.checkmark::before {
    display: none;
}

.box-checkbox.check-minus input:checked~.checkmark:after {

 }
 .box-checkbox.check-minus input:checked ~ .checkmark::before {
    display: none;
 }
 .box-checkbox.check-minus input:checked ~ .checkmark:after  {

    content: "+";
    left: 4px;
    top: -2px;
    position: absolute;
    font-size: 20px;

    transform: rotate( 0deg)!important;
    border: unset;
}

.box-checkbox.check-minus input:checked~.checkmark {
    background: #FAFBFC!important;
}

tr {
    position: relative;
}

.child-asset::after {

    transform: rotate(
       0deg
        )!important;
        border: unset;
 }
 .box-checkbox.check-minus input:checked ~ .checkmark {
    background: #FAFBFC!important;
 }
 tr{
    position: relative;
 }
 .child-asset::after{

    background: #ECEFF1;
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: -9px;
    left: 23px;

}

.child-code {
    padding-left: 50px;
}

.child-code::after {

 }
 .child-code{
    padding-left: 50px;
 }
 .child-code::after{

    background: #ECEFF1;
    content: "";
    position: absolute;
    width: 24px;
    height: 1px;
    top: 47%;
    left: 23px;

}

.inner-tab table .child-asset td {
    padding: 17px 12px;
}

.inner-tab .working-plan th {
    padding: 8px 12px;
}

.manipulation {
    float: right;
    padding: 0px;
    height: 44px;
    background: #F6F6F7;
    border-radius: 12px;
    line-height: 40px;
    margin-left: 16px;
    font-size: 12px;
}

.manipulation .dropdown-toggle {
    font-size: 12px;
    color: #8A94A6;
}

.manipulation .dropdown-menu {

 }
 .inner-tab table  .child-asset td{
    padding: 17px 12px;
 }
 .inner-tab .working-plan th {
    padding: 8px 12px;
 }
 .manipulation{
     float: right;
     padding: 0px;
     height: 44px;
     background: #F6F6F7;
     border-radius: 12px;
     line-height: 40px;
     margin-left: 16px;
     font-size: 12px;
 }
 .manipulation .dropdown-toggle{
    font-size: 12px;
    color: #8A94A6;
 }
 .manipulation .dropdown-menu {

    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgb(176 183 195 / 32%);
    border-radius: 12px;
    border: none;
    padding: 0px 20px;
    margin-top: 8px;
    right: 0px;
    left: unset;

}

.manipulation .dropdown-menu a {

 }
 .manipulation .dropdown-menu a {

    font-size: 13px;
    color: #4E5D78;
    border-bottom: 1px solid #F6F6F7;
    padding: 3px 0px;

}

.manipulation .dropdown-menu a img {
    padding-right: 5px;
}

.dropdown-item.active, .dropdown-item:active {
    background: #FFFFFF;
    color: #4E5D78;
}

.table-general .checkmark {
    top: -7px;
}

.btn-header {
    height: 44px;
    background: white;
    text-align: center;
    width: 44px;
    border-radius: 12px;
}

.btn-header img {
    padding-right: 0px;
}

.name-tab .list-group {

 }
 .manipulation .dropdown-menu a img{
    padding-right: 5px;
 }
 .dropdown-item.active, .dropdown-item:active {
    background: #FFFFFF;
    color: #4E5D78;
 }
 .table-general .checkmark {
    top: -7px;
 }
 .btn-header {
       height: 44px;
     background: white;
     text-align: center;
     width: 44px;
     border-radius: 12px;
 }
 .btn-header img{
    padding-right: 0px;
 }

 .name-tab .list-group{

    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px #F3F3F3 solid;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    border-bottom: 1px #F3F3F3 solid;
    border-radius: 0;

}

.name-tab .list-group .list-group-item {

 }
 .name-tab .list-group .list-group-item{

    padding: 20px 0;
    border: 0;
    color: #8A94A6;
    border-bottom: 1px #FFFFFF solid;
    margin-right: 48px;

}

.name-tab .list-group .list-group-item:last-child {
    margin-right: 0;
}

.name-tab .list-group-item.active {

 }
 .name-tab .list-group .list-group-item:last-child{
    margin-right: 0;
 }
 .name-tab .list-group-item.active{

    background: #FFFFFF!important;
    color: #377DFF;
    border-bottom: 1px #377DFF solid;
    margin-top: 0;

}

.content-tab {
    padding-top: 24px;
}

.info-asset table th {
    border: unset;

 }
 .content-tab{
    padding-top: 24px;
 }
 .info-asset table th{
    border:unset;

    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    background: #F6F6F7;
    padding: 12px 16px;
    vertical-align: middle;

}

.info-asset table td {
    border: unset;

 }
 .info-asset table td{
    border:unset;

    font-size: 12px;
    vertical-align: middle;
    padding: 24px 12px;
    font-weight: 500;
    color: #4E5D78;

}

.info-asset .border-radius {
    border-radius: 8px;
}

.badge-fix {

 }
 .info-asset .border-radius{
    border-radius: 8px;
 }
 .badge-fix{

    padding: 8px 8px 8px 12px;
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px

}

.badge-color-1 {
    background: #F4F8FF;
    color: #377DFF;
}

.badge-color-2 {
    background: #FFF6F4;
    color: #FF5630;
}

.w-10 {
    width: 10%;
}

.w-25 {
    width: 25%;
}

.w-15 {
    width: 15%;
}

.w-35 {
    width: 35%;
}

.mb-32 {
    margin-bottom: 32px!important;
}

.modal-fix-1 .modal-dialog {
    max-width: 1088px;
    margin: 80px auto;
}

.modal-fix-1 .modal-header, .modal-fix-1 .modal-body, .modal-fix-1 .modal-footer {
    border: 0;
    padding: 0;
}

.modal-fix-1 .modal-header {
    margin-bottom: 16px;
}

.modal-fix-1 .modal-body {
    margin-bottom: 24px;
}

.modal-fix-1 .modal-header {
    width: 100%;
    justify-content: center;
}

.modal-fix-1 .modal-header h6 {

 }
 .badge-color-1{
    background: #F4F8FF;
    color: #377DFF;
 }
 .badge-color-2{
    background: #FFF6F4;
    color: #FF5630;
 }
 .w-10{
    width: 10%;
 }
 .w-25{
    width: 25%;
 }
 .w-15{
    width: 15%;
 }
 .w-35{
    width: 35%;
 }
 .mb-32{
    margin-bottom: 32px!important;
 }

 .modal-fix-1 .modal-dialog{
    max-width: 1088px;
    margin: 80px auto;
 }
 .modal-fix-1 .modal-header, .modal-fix-1 .modal-body, .modal-fix-1 .modal-footer{
    border: 0;
    padding: 0;
 }
 .modal-fix-1 .modal-header{
    margin-bottom: 16px;
 }
 .modal-fix-1 .modal-body{
    margin-bottom: 24px;
 }
 .modal-fix-1 .modal-header{
    width: 100%;
    justify-content: center;
 }
 .modal-fix-1 .modal-header h6{

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;

}

.modal-fix-1 .modal-content {
    padding: 40px 38px;
}

.modal-fix-1 .modal-footer {
    display: flex;
    justify-content: center;
}

.modal-fix-1 .btn-primary, .modal-fix-1 .btn-cancel {

 }
 .modal-fix-1 .modal-content{
    padding: 40px 38px;
 }
 .modal-fix-1 .modal-footer{
    display: flex;
    justify-content: center;
 }
 .modal-fix-1 .btn-primary, .modal-fix-1 .btn-success{

    min-width: 148px;
    height: 52px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 10px;
    border-radius: 12px;

}

.modal-fix-1 .btn-primary {
    background: #377DFF;
    color: #FFFFFF;
}

.modal-fix-1 .btn-cancel {
    background: #ECEFF1;
    color: #8A94A6;
    border: 0;
}

.modal-fix-1 .pd-col {
    padding: 0 10px;
}

.ts-11 {
    font-size: 11px;
}

.modal-fix-2 .modal-dialog {
    max-width: 552px;
    margin: 80px auto;
}

.modal-fix-2 .modal-header, .modal-fix-2 .modal-body, .modal-fix-2 .modal-footer {
    border: 0;
    padding: 0;
}

.modal-fix-2 .modal-header {
    margin-bottom: 16px;
}

.modal-fix-2 .modal-body {
    margin-bottom: 24px;
}

.modal-fix-2 .modal-header {
    width: 100%;
    justify-content: center;
}

.modal-fix-2 .modal-header h6 {

 }
 .modal-fix-1 .btn-primary{
    background: #377DFF;
    color: #FFFFFF;
 }
 .modal-fix-1 .btn-cancel{
    background: #ECEFF1;
    color: #8A94A6;
    border: 0;
 }
 .modal-fix-1 .pd-col{
    padding: 0 10px;
 }
 .ts-11{
    font-size: 11px;
 }

 .modal-fix-2 .modal-dialog{
    max-width: 552px;
    margin: 80px auto;
 }
 .modal-fix-2 .modal-header, .modal-fix-2 .modal-body, .modal-fix-2 .modal-footer{
    border: 0;
    padding: 0;
 }
 .modal-fix-2 .modal-header{
    margin-bottom: 16px;
 }
 .modal-fix-2 .modal-body{
    margin-bottom: 24px;
 }
 .modal-fix-2 .modal-header{
    width: 100%;
    justify-content: center;
 }
 .modal-fix-2 .modal-header h6{

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;

}

.modal-fix-2 .modal-content {
    padding: 40px 48px;
}

.modal-fix-2 .modal-footer {
    display: flex;
    justify-content: center;
}

.modal-fix-2 .btn-primary, .modal-fix-2 .btn-cancel {

 }
 .modal-fix-2 .modal-content{
    padding: 40px 48px;
 }
 .modal-fix-2 .modal-footer{
    display: flex;
    justify-content: center;
 }
 .modal-fix-2 .btn-primary, .modal-fix-2 .btn-cancel{

    width: 148px;
    height: 52px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    border-radius: 12px;
    flex-grow: 1;
}

.modal-fix-2 .btn-primary {
    background: #377DFF;
    color: #FFFFFF;
    margin: 0 0 0 10px;
}

.modal-fix-2 .btn-cancel {


    border-radius: 12px;
    flex-grow: 1;
 }
 .modal-fix-2 .btn-primary{
    background: #377DFF;
    color: #FFFFFF;
    margin: 0 0 0 10px;
 }
 .modal-fix-2 .btn-cancel{

    background: #ECEFF1;
    color: #8A94A6;
    border: 0;
    margin: 0 10px 0 0;

}

.tag-list {
    display: flex;
    flex-direction: row;
}

.tag-list .tab-item {

 }
 .tag-list{
    display: flex;
    flex-direction: row;
 }
 .tag-list .tab-item{

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    padding: 4px 8px 4px 12px;
    margin-top: 8px;
    margin-right: 8px;
    background: #FAFBFC;
    border: 1px solid rgba(193, 199, 208, 0.4);
    border-radius: 8px;
    display: flex;
    align-items: center;

}

.tag-list .tab-item i {

 }
 .tag-list .tab-item i{

    display: inline-flex;
    width: 16px;
    height: 16px;
    margin-left: 4px;

}

.personnel .inner-tab {
    padding-top: 34px;
}

.title-main {
    padding-bottom: 7px;
}

.personnel .btn-viewmore-news {
    margin-top: 7px;
}

.modal-body.box-user {
    padding: 0px 0px 0px 0px;
}

.personnel .group-btn2 .btn {
    width: 47%;
}

.timeline-wrapper {

 }
 .personnel .inner-tab {
    padding-top: 34px;
 }
 .title-main{
    padding-bottom: 7px;
 }
 .personnel .btn-viewmore-news{
    margin-top: 7px;
 }
 .modal-body.box-user {
    padding: 0px 0px 0px 0px;
 }
 .personnel .group-btn2 .btn {
    width: 47%;
 }
 .timeline-wrapper {

    position: relative;
    width: 75%;
    margin: auto;
    height: 100px;

}

.timeline-wrapper .middle-line {

  }
  .timeline-wrapper .middle-line {

    position: absolute;
    width: 100%;
    height: 2px;
    top: 30%;

    background: #C1C7D0;
}

.box {

    background:  #C1C7D0;
  }
  .box {

    width: 33.334%;
    position: relative;
    min-height: 100px;
    float: left;
    top: 18px;

}

.timeline-wrapper h3 {
    font-size: 13px;
    padding-top: 12px;
}

.timeline-wrapper span {

  }
  .timeline-wrapper h3{
    font-size: 13px;

    padding-top: 12px;

  }
  .timeline-wrapper span{

    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: #C1C7D0;
    display: inline-block;

}

.step2 {
    text-align: center;
}

.step3 {
    text-align: right;
}

.step1 h3 {
    position: absolute;
    left: -17%;
}

.step3 h3 {
    position: absolute;
    left: 85%;
    width: 55px;
}

.ac-step1 .step1 span {
    border: 4px solid #38CB89;
    background: white;
}

.ac-step1 .middle-line::after {

  }
  .step2{
     text-align: center;
  }
  .step3{
    text-align: right;
 }
 .step1 h3{
    position: absolute;
    left: -17%;
 }
 .step3 h3{
       position: absolute;
       left: 85%;
       width: 55px;
 }
 .ac-step1 .step1 span{
    border: 4px solid #38CB89;
    background: white;
 }
 .ac-step1 .middle-line::after{

    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25%;
    background: #38CB89;
    height: 2px;

}

.ac-step2 .step2 span, .ac-step3 .step3 span {
    border: 4px solid #38CB89;
    background: white;
}

.ac-step2 .middle-line::after {
    width: 75%;
}

.ac-step3 .middle-line::after {
    width: 100%;
}

.ac-step1.ac-step2 .step1 span, .ac-step1.ac-step2.ac-step3 .step2 span {
    background: #38CB89;
}

.pdp30 {

 }
 .ac-step2 .step2 span,.ac-step3 .step3 span{
    border: 4px solid #38CB89;
    background: white;
 }
 .ac-step2 .middle-line::after{
    width:75% ;
 }
 .ac-step3 .middle-line::after{
    width:100% ;
 }
 .ac-step1.ac-step2 .step1 span,.ac-step1.ac-step2.ac-step3 .step2 span{
    background: #38CB89;
 }
 .pdp30{

    margin-bottom: 30px;
 }

 .table-sort thead th {
    vertical-align: middle;

    padding: 8px;
}

.table-sort thead th:first-child {
    padding-left: 16px;
}

.table-sort thead th:last-child {
    padding-right: 16px;
}

.divider-th-r {
    position: relative;
}

.divider-th-r::after {

    padding: 8px ;
 }
 .table-sort thead th:first-child{
    padding-left: 16px;
 }
 .table-sort thead th:last-child{
    padding-right: 16px;
 }
 .divider-th-r{
    position: relative;
 }
 .divider-th-r::after{

    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 1px;
    height: 20px;
    background: #C1C7D0;

}

.sub-th {
    font-weight: bold;
    text-transform: unset!important;
    padding: 8px;
}

.table-sort .sub-td {

 }
 .sub-th{
    font-weight: bold;
    text-transform: unset!important;
    padding: 8px;
 }
 .table-sort .sub-td{

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #4E5D78;
    padding-bottom: 12px;
    border-bottom: 1px solid #F3F3F3;

}

.btn-sort {
    margin-left: 4px;
}

.btn-gray {
    background: #F6F6F7;
}

.filter-bar {


 }
 .btn-sort{
    margin-left: 4px;
 }
 .btn-gray{
    background: #F6F6F7;
 }

 .filter-bar{

    background: #FAFBFC;
    border-radius: 12px;
    width: 100%;
    padding: 24px 29px;
    margin-bottom: 24px;

}

.filter-bar .pd-col {
    padding: 0 10px;
}

.fgrow-1 {
    width: 100px;
    flex-grow: 1;
}

.filter-bar .form-group {
    margin: 0 4px;
}

.filter-bar .form-group:first-child {
    margin-left: 0;
    margin-right: 4px;
}

.filter-bar .form-group:last-child {
    margin-right: 0;
    margin-left: 4px;
}

.filter-bar .btn-viewmore-news {
    height: 48px;
    width: 100%;
    font-weight: 500;
}

.title-tb {

 }
 .filter-bar .pd-col{
    padding: 0 10px;
 }

 .fgrow-1{
    width: 100px;
    flex-grow: 1;
 }
 .filter-bar .form-group{
    margin: 0 4px;
 }
 .filter-bar .form-group:first-child{
    margin-left: 0;
    margin-right: 4px;
 }
 .filter-bar .form-group:last-child{
    margin-right: 0;
    margin-left: 4px;
 }
 .filter-bar .btn-viewmore-news{
    height: 48px;
    width: 100%;
    font-weight: 500;
 }
 .title-tb{

    width: 100%;
    margin-bottom: 24px;
    text-align: center;
    color: #4E5D78;

}

.name-tb {

 }
 .name-tb{

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0;

}

.date-tb {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

.divider {
    height: 1px;
    background: #F3F3F3;
    margin-bottom: 24px;
}

.border-bottom-header {
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: 16px;
}

.color-default2 {
    color: #4E5D78;
}

.btn-file {

 }
 .date-tb{
    font-size: 13px;
    line-height: 20px;
    margin: 0;
 }
 .divider{
    height: 1px;
    background: #F3F3F3;
    margin-bottom: 24px;
 }
 .border-bottom-header{
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: 16px;
 }
 .color-default2{
    color: #4E5D78;
 }
 .btn-file{

    width: 48px;
    height: 48px;
    background: #377DFF;
    border-radius: 12px;
    text-align: center;
    line-height: 43px;
    margin-left: 8px;

}

.edit-budget .attached-files {
    width: calc(100% - 56px)!important;
}

.edit-budget .attached-files span {
    top: 14px;
}

.edit-budget .attached-files .content-file {
    margin-left: 29px;
    font-size: 14px;
}

.bg-default {
    background: #F6F6F7;
    opacity: 0.75;
}

.bg-white {
    background: white;
}

.modal-fix .btn-add {

 }
 .edit-budget .attached-files{
    width: calc(100% - 56px)!important;
 }
 .edit-budget .attached-files span {
    top: 14px;
 }
 .edit-budget .attached-files .content-file {
    margin-left: 29px;
    font-size: 14px;
 }
 .bg-default{
    background: #F6F6F7;
    opacity: 0.75;
 }
 .bg-white{
    background: white;
 }
 .modal-fix .btn-add{

    display: flex;
    align-items: center;
    width: auto;
    height: 48px;
    padding: 0 14px;
    background: #F6F6F7;
    border-radius: 12px;
    color: #377DFF;

}

.info-request .have-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-request.form-check {

 }
 .info-request .have-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .info-request.form-check{

    display: flex;
    flex-direction: row;
    height: 56px;
    background: #FAFBFC;
    border-radius: 8px;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 12px;

}

.info-request.form-check input[type="checkbox"] {
    height: 24px;
    width: 24px;
    margin: 0 12px 0 0;
}

.info-request.form-check label {

 }
 .info-request.form-check input[type="checkbox"]{
    height: 24px;
    width: 24px;
    margin: 0 12px 0 0;
 }
 .info-request.form-check label{

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4E5D78;

}

.info-request.searchbar input[type="search"] {
    height: 52px;
    text-indent: 40px;
}

.info-request.searchbar input[type="search"]::placeholder {
    color: #B0B7C3;
}

.info-request.searchbar .search-icon {

 }

 .info-request.searchbar input[type="search"]{
    height: 52px;
    text-indent: 40px;
 }
 .info-request.searchbar input[type="search"]::placeholder{
    color: #B0B7C3;
 }
 .info-request.searchbar .search-icon{

    position: absolute;
    top: 14px;
    left: 20px;
    width: 24px;

}

.have-btn {
    flex-grow: 1;
}

.hl-tb {
    font-weight: 700!important;
}

.divider-tb {
    height: 1px;
    background: #F3F3F3;
}

.note-box, .info-box {
    color: #8A94A6;
    font-size: 13px;
    line-height: 20px;
}

.note-num {
    min-width: 20px;
}

.note-stt {
    min-width: 20px;
    font-weight: 600;
}

.date-filter {
    flex-grow: 1;
}

.bd-all {
    border: 1px solid #ECEFF1 !important;
}

.bd-t {
    border-top: 1px solid #ECEFF1 !important;
}

.bd-r {
    border-right: 1px solid #ECEFF1 !important;
}

.bd-b {
    border-bottom: 1px solid #ECEFF1 !important;
}

.bd-l {
    border-left: 1px solid #ECEFF1 !important;
}

/* Customize: Typography */

.head-6 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
}

.head-8 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.head-9 {
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 32px !important;
}

.body-3 {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

.body-4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.body-5 {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}

.body-6 {
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 20px !important;
}

.button-1 {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}

.tyni-11 {
    font-weight: 500 !important;
    font-size: 11px !important;
    line-height: 16px !important;
}

.fw-600 {
    font-weight: 600;
}

/* Customize: row col */

.row-m2 {
    margin-left: -2px;
    margin-right: -2px;
}

.col-p2 {
    padding-left: 2px;
    padding-right: 2px;
}

.row-m8 {
    margin-left: -8px;
    margin-right: -8px;
}

.col-p8 {
    padding-left: 8px;
    padding-right: 8px;
}

.row-m12 {
    margin-left: -12px;
    margin-right: -12px;
}

.col-p12 {
    padding-left: 12px;
    padding-right: 12px;
}

/* Customze: form / input / button /... */

.btn-fix {

 }
 .have-btn{
    flex-grow: 1;
 }
 .hl-tb {
    font-weight: 700!important;
 }
 .divider-tb{
    height: 1px;
    background: #F3F3F3;
 }
 .note-box , .info-box{
    color: #8A94A6;
    font-size: 13px;
    line-height: 20px;
 }
 .note-num{
    min-width: 20px;
 }
 .note-stt{
    min-width: 20px;
    font-weight: 600;
 }
 .date-filter{
    flex-grow: 1;
 }

 .bd-all{
    border: 1px solid #ECEFF1 !important;
 }
 .bd-t{
    border-top: 1px solid #ECEFF1 !important;
 }
 .bd-r{
    border-right: 1px solid #ECEFF1 !important;
 }
 .bd-b{
    border-bottom: 1px solid #ECEFF1 !important;
 }
 .bd-l{
    border-left: 1px solid #ECEFF1 !important;
 }

 /* Customize: Typography */

 .head-6{
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
 }
 .head-8{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
 }
 .head-9{
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 32px !important;
 }
 .body-3{
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
 }
 .body-4{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
 }
 .body-5{
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
 }
 .body-6{
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 20px !important;
 }
 .button-1{
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
 }
 .tyni-11{
    font-weight: 500 !important;
    font-size: 11px !important;
    line-height: 16px !important;
 }
 .fw-600{
    font-weight: 600;
 }

 /* Customize: row col */
 .row-m2{
    margin-left: -2px;
    margin-right: -2px;
 }
 .col-p2{
    padding-left: 2px;
    padding-right: 2px;
 }
 .row-m8{
    margin-left: -8px;
    margin-right: -8px;
 }
 .col-p8{
    padding-left: 8px;
    padding-right: 8px;
 }
 .row-m12{
    margin-left: -12px;
    margin-right: -12px;
 }
 .col-p12{
    padding-left: 12px;
    padding-right: 12px;
 }

 /* Customze: form / input / button /... */

 .btn-fix{

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 12px;
    border: 0;

}

.btn-fix-primary {
    color: #FFFFFF;
    background: #377DFF;
}

.btn-fix-primary-4 {
    color: #FFFFFF;
    background: #FF5630;
}

.btn-fix-primary:hover {
    color: #FFFFFF;
}

.btn-fix-secondary {
    background: #ECEFF1;
    color: #8A94A6;
}

.btn-secondary-1 {
    background: #EBF2FF;
    color: #377DFF;
}

.btn-fix img {
    padding: 0;
}

.btn-remove {
    padding: 0;
}

.btn-remove img {
    padding: 0;
}

.field-fix label {

 }
 .btn-fix-primary{
    color: #FFFFFF;
    background: #377DFF;
 }
 .btn-fix-primary-4{
    color: #FFFFFF;
    background: #FF5630;
 }
 .btn-fix-primary:hover{
    color: #FFFFFF;
 }
 .btn-fix-secondary{
    background: #ECEFF1;
    color: #8A94A6;
 }
 .btn-secondary-1{
    background: #EBF2FF;
    color: #377DFF;
 }
 .btn-fix img{
    padding: 0;
 }
 .btn-remove{
    padding: 0;
 }
 .btn-remove img{
    padding: 0;
 }
 .field-fix label{

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8A94A6;

}

.field-fix input, .field-fix textarea, .field-fix select {

 }
 .field-fix input, .field-fix textarea, .field-fix select{

    height: 48px;
    background: #FFFFFF;
    border: 1px solid #ECEFF1;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
    line-height: 24px;
    color: #4E5D78;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;

}

.field-fix input:disabled, .field-fix textarea:disabled, .field-fix select:disabled {
    background: #F6F6F7;
    border: 0;
}

.field-fix select {

 }
 .field-fix input:disabled, .field-fix textarea:disabled, .field-fix select:disabled{
    background: #F6F6F7;
    border: 0;
 }
 .field-fix select{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/Angle-down.svg) #FFFFFF no-repeat;
    background-size: 24px 24px;
    background-position-y: center;
    background-position-x: 95%;

}

.field-fix.fix-more select {
    background-size: 52px 24px;
    background-position-x: right;
}

.field-fix input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
    z-index: 1;
}

.field-fix input[type="date"]:before {

 }
 .field-fix.fix-more select{
    background-size: 52px 24px;
    background-position-x: right;
 }
 .field-fix input[type="date"]::-webkit-calendar-picker-indicator{
    background: none;
    z-index: 1;
 }
 .field-fix input[type="date"]:before{

    content: '';
    background: url(../images/calendar.svg) no-repeat center;
    background-size: 100%;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 16px;

}

.field-fix input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    z-index: 1;
}

.field-fix input[type="time"]:before {

 }
 .field-fix input[type="time"]::-webkit-calendar-picker-indicator{
    background: none;
    z-index: 1;
 }
 .field-fix input[type="time"]:before{

    content: '';
    background: url(../images/Clock.svg) no-repeat center;
    background-size: 100%;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 16px;

}

.field-date {
    position: relative;
}

.field-date>.datepicker {

 }
 .field-date{
    position: relative;
 }
 .field-date >.datepicker{

    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/calendar.svg) no-repeat center;
    background-size: 100%;
    vertical-align: middle;
    top: 12px;
    left: auto;
    right: 16px !important;

}

/*Thong tin luong*/

.inner-tab tfoot td {
    font-size: 18px;
}

.inner-tab .total-amount-table th {
    padding: 19px 24px;
}

.inner-tab .total-amount-table2 th {

 }

 /*Thong tin luong*/
 .inner-tab tfoot td{
    font-size: 18px;
 }
 .inner-tab  .total-amount-table th{
    padding: 19px 24px;
 }
 .inner-tab  .total-amount-table2 th{

    padding: 18px 24px;
    font-size: 18px;
    font-weight: 400;
    vertical-align: middle;

}

.inner-tab .total-amount-table td {
    padding: 24px 24px;
}

.inner-tab .total-amount-table2 th.font-bold {
    font-size: 26px;
    text-transform: inherit;
}

.inner-tab .total-amount-table2 {
    margin-bottom: 32px;
}

.w100 {
    width: 98px;
    max-width: 98px;
}

.color-oranges {
    color: #FF5630;
}

/* Lap ke hoach */

.mission-item .card-header {
    background: #FAFBFC;
}

.main-mission-item .card-header {
    background: #F6F6F7;
}

.main-mission-item.active .card-header {
    background: #38CB89;
    color: #FFFFFF;
}

.mission-item-num {
    min-width: 24px
}

.mission-item-name>p {
    margin-bottom: 4px;
}

.mission-item.active {
    border: 1px solid #38CB89;
}

.mission-item.active .card-header {
    background: #FFFFFF;
    padding-bottom: 8px;
}

.mission-item.active .card-header>img {
    transform: rotate(180deg);
}

.mission-item .card-body {
    padding: 0 24px 24px 24px;
}

.mission-child-list li {

 }
 .inner-tab  .total-amount-table td{
    padding: 24px 24px;
 }
 .inner-tab  .total-amount-table2 th.font-bold{
    font-size: 26px;
    text-transform: inherit;
 }
 .inner-tab  .total-amount-table2{
    margin-bottom: 32px;
 }
 .w100{
    width: 98px;
    max-width: 98px;
 }
 .color-oranges{
    color: #FF5630;
 }

 /* Lap ke hoach */
 .mission-item .card-header{
    background:#FAFBFC;
 }
 .main-mission-item .card-header{
    background: #F6F6F7;
 }
 .main-mission-item.active .card-header{
    background: #38CB89;
    color: #FFFFFF;
 }
 .mission-item-num{
    min-width: 24px
 }
 .mission-item-name > p{
    margin-bottom: 4px;
 }
 .mission-item.active{
    border: 1px solid #38CB89;
 }
 .mission-item.active .card-header{
    background: #FFFFFF;
    padding-bottom: 8px;
 }
 .mission-item.active .card-header >img{
    transform: rotate(180deg);
 }
 .mission-item .card-body{
    padding: 0 24px 24px 24px;
 }
 .mission-child-list li{

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: #ECEFF1 1px solid;

}

.mission-child-list li:last-child {
    border: 0;
}

.mission-child-list li:first-child {
    border-top: #ECEFF1 1px solid;
}

.bg-greyish {
    background: #F6F6F7;
    color: #323B4B;
}

.modal-appraisal {
    max-width: 744px;
}

.modal-appraisal .inner-tab {
    padding-top: 8px;
}

.modal-appraisal .inner-tab th, .modal-appraisal .inner-tab td {
    padding: 13px 16px;
}

.modal-appraisal .btn-cancel {
    border-radius: 12px;
    margin-top: 20px;
}

.box-user .search-expertise input.end-date {

 }
 .mission-child-list li:last-child{
    border: 0;
 }
 .mission-child-list li:first-child{
    border-top: #ECEFF1 1px solid;
 }
 .bg-greyish{
    background: #F6F6F7;
    color: #323B4B;
 }
 .modal-appraisal{
    max-width: 744px;
 }
 .modal-appraisal .inner-tab {
    padding-top: 8px;
 }
 .modal-appraisal .inner-tab th,.modal-appraisal .inner-tab td{
    padding: 13px 16px;
 }
 .modal-appraisal .btn-cancel{
    border-radius: 12px;
    margin-top: 20px;
 }
 .box-user .search-expertise input.end-date{

    width: 100%;
    border: 1px solid #ECEFF1;
    background: white;
    padding-left: 3px;

}

.box-height {
    min-height: 450px;
}

.bg-orange {
    background: #FF5630;
    color: #FFFFFF;
}

/* them moi tai san*/

.form-asset {
    display: flex;
}

.form-asset .form-control {
    width: calc(100% - 50px);
    float: left;
    border-radius: 12px 0px 0px 12px;
    font-size: 14px;
}

.form-asset span {

 }
 .box-height{
    min-height: 450px;
 }
 .bg-orange{
    background: #FF5630;
    color: #FFFFFF;
 }
 /* them moi tai san*/
 .form-asset{
    display: flex;
 }
 .form-asset .form-control{
    width: calc(100% - 50px);
     float: left;
     border-radius: 12px 0px 0px 12px;
     font-size: 14px;
 }
 .form-asset span{

    height: 48px;
    border-radius: 0px 12px 12px 0px;
    border: 1px solid #ECEFF1;
    width: 50px;
    float: left;
    text-align: center;
    line-height: 42px;
    border-left: 0px;

}

.title-asset {

 }
 .title-asset{

    color: #4E5D78;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 25px;

}

.btn-save2 {
    color: #8A94A6;
    font-size: 14px;
}

.menu-asset {
    width: 216px;
}

.menu-asset li {
    margin-bottom: 8px;
    display: grid;
    position: relative;
}

.menu-asset li a {

 }
 .btn-save2{
    color: #8A94A6;
    font-size: 14px;
 }
 .menu-asset{
    width: 216px;
 }
 .menu-asset li {
    margin-bottom: 8px;
    display: grid;
    position: relative;
 }
 .menu-asset li a{

    padding: 12px 24px;
    text-transform: uppercase;
    color: #4E5D78;
    font-size: 11px;

}

.menu-asset .active {
    background: #38CB89;
    border-radius: 8px;
}

.menu-asset .active {
    color: #FFFFFF;
}

.information-asset {
    padding: 56px 32px 24px;
}

.search-expertise {
    position: relative;
}

.dashboard-asset .card {

 }
 .menu-asset  .active{
    background: #38CB89;
    border-radius: 8px;
 }
 .menu-asset  .active{
    color: #FFFFFF ;
 }
 .information-asset{
    padding: 56px 32px 24px;
 }
 .search-expertise {
    position: relative;
 }
 .dashboard-asset .card{

    background: #FFFFFF;
    border-radius: 12px;
    padding: 24px;
    border: none;
    margin-bottom: 16px;

}

.subheading {

 }
 .subheading{

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4E5D78;

}

.widget-numbers {

 }
 .widget-numbers{

    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FF5630;
    padding-top: 20px;

}

.widget-numbers span {
    font-size: 14px;
}

.widget-description {

 }
 .widget-numbers span{
    font-size: 14px;
 }
 .widget-description{

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8A94A6;

}

.pd8 {
    padding-right: 8px;
    padding-left: 8px;
}

.sum-mumber {
    font-weight: 500;
    font-size: 16px;
    color: #8A94A6;
}

.chart-asset {
    margin-top: 20px;
}

.btn-gray {

 }
 .pd8{
    padding-right: 8px;
     padding-left: 8px;
 }
 .sum-mumber{
    font-weight: 500;
    font-size: 16px;
    color: #8A94A6;
 }
 .chart-asset{
    margin-top: 20px;
 }
 .btn-gray{

    background: #F6F6F7;
    border-radius: 12px;
    padding: 9px;
    font-size: 12px;

}

.mrl16 {
    margin-left: 16px;
}

.btn-gray2 {
    padding: 11px 15px;
}

.header-staff {

 }
 .mrl16{
    margin-left: 16px;
 }
 .btn-gray2{
    padding: 11px 15px;
 }
 .header-staff{

    border-bottom: 1px solid #F3F3F3;
    margin-bottom: 24px;
    padding-bottom: 0px;
    height: 52px;

}

.header-staff h3 {
    color: #377DFF;
    font-weight: 500;
    font-size: 18px;
    display: inline;
    line-height: 58px;
    position: relative;
}

.header-staff h3::after {

 }
 .header-staff h3{
    color: #377DFF;
     font-weight: 500;
     font-size: 18px;
     display: inline;
     line-height: 58px;
     position: relative;
 }
 .header-staff h3::after{

    content: "";
    background: #377DFF;
    height: 1px;
    width: 100%;
    left: 0px;
    bottom: -12px;
    position: absolute;

}

.search-staff .form-control {
    height: 44px;
}

.manipulation.bg-white .dropdown-toggle {
    color: #4E5D78;
    font-weight: 500;
    font-size: 18px;
}

.manipulation.bg-white .dropdown-menu a {
    font-size: 14px;
}

.box-checkbox.checkbox-analysis.left0 input:checked~.checkmark {
    left: 0;
}

.box-checkbox.checkbox-analysis.left0 .checkmark {
    left: 0;
}

.form-group.checkradio {
    height: 48px;
    padding-top: 10px;
}

/*heighcharts*/

.highcharts-credits {
    display: none;
}

.highcharts-no-tooltip {
    font-weight: 400;
}

.bg-primary2 {
    background: #38CB89;
}

.header-staff2 label {
    height: 50px;
    line-height: 50px;
    padding-right: 15px;
}

.header-staff2 {
    border-bottom: 1px solid #F3F3F3;
    margin-bottom: 40px;
    padding-bottom: 14px;
}

.w-auto {
    flex-grow: 1;
    width: auto;
}

.w-200 {
    width: 200px;
}

.header-staff2 input.form-control {
    height: 44px;
    font-size: 14px;
    color: #4E5D78;
}

.delete-staff {

 }
 .search-staff .form-control{
    height: 44px;
 }
 .manipulation.bg-white .dropdown-toggle {
    color: #4E5D78;
    font-weight: 500;
    font-size: 18px;
 }
 .manipulation.bg-white .dropdown-menu a {
    font-size: 14px;
 }
 .box-checkbox.checkbox-analysis.left0 input:checked ~ .checkmark {
     left: 0;
 }
 .box-checkbox.checkbox-analysis.left0 .checkmark {
     left: 0;
 }
 .form-group.checkradio{
    height: 48px;
    padding-top: 10px;
 }
 /*heighcharts*/
 .highcharts-credits{
    display: none;
 }
 .highcharts-no-tooltip{
   font-weight: 400;
 }
 .bg-primary2{
    background: #38CB89;
 }
 .header-staff2  label{
    height: 50px;
    line-height: 50px;
    padding-right: 15px;
 }
 .header-staff2{
    border-bottom: 1px solid #F3F3F3;
    margin-bottom: 40px;
    padding-bottom: 14px;
 }
 .w-auto{
    flex-grow: 1;
    width: auto;
 }
 .w-200{
    width: 200px;
 }
 .header-staff2 input.form-control{
    height: 44px;
    font-size: 14px;
    color: #4E5D78;
 }
 .delete-staff{

    float: right;
    position: absolute;
    right: 10px;
    top: 15px;

}

.menu-asset2 a {
    border-radius: 12px;
    background: #F6F6F7;
    font-weight: 500;
}

.btn-asset {

 }
 .menu-asset2 a {
    border-radius: 12px;
    background: #F6F6F7;
    font-weight: 500;
 }
 .btn-asset{

    background: #EBF2FF;
    color: #377DFF!important;
    position: absolute;
    bottom: 0px;
    padding: 12px 36px;

}

.border-left {
    border-left: 1px solid #F3F3F3;
}

.w-240 {
    max-width: 260px;
}

.wfull240 {
    max-width: calc(100% - 260px)!important;
}

.menu-asset2 li a {
    font-size: 14px;
}

.menu-asset2 li a span {
    font-size: 11px;
}

.approve.p-0 .media img {
    width: 40px;
    height: 40px;
}

.approve.overflow-scroll-y {
    max-height: 400px;
}

.inner-tab.dashboard-manager table td {
    padding: 12px 12px;
}

.inner-tab.dashboard-manager .pagination .prev, .inner-tab.dashboard-manager .pagination .next {
    padding: 0px 12px!important;
}

.height511 {
    height: 511px;
}

/*notification*/

.notifications {
    float: right;
    margin-top: 79px!important;
    margin-right: 57px!important;
}

.notifications .bell {

 }
 .border-left{
    border-left: 1px solid #F3F3F3;
 }
 .w-240{
    max-width: 260px;
 }
 .wfull240{
    max-width: calc(100% - 260px)!important;
 }
 .menu-asset2    li a {
    font-size: 14px;
 }
 .menu-asset2    li a span {
    font-size: 11px;
 }
 .approve.p-0 .media img {
     width: 40px;
     height: 40px;
 }
 .approve.overflow-scroll-y{
    max-height: 400px;
 }
 .inner-tab.dashboard-manager table td{
    padding: 12px 12px;
 }
 .inner-tab.dashboard-manager .pagination .prev, .inner-tab.dashboard-manager .pagination .next {
    padding: 0px 12px!important;
 }
 .height511{
    height: 511px;
 }
 /*notification*/
 .notifications{
    float: right;
    margin-top: 79px!important;
    margin-right: 57px!important;
 }
 .notifications .bell{

    position: absolute;
    top: -60px;
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 48px;
    text-align: center;
    line-height: 43px;
    right: 53px;

}

.status-role.status-notification {
    width: 52px;
    height: 28px;
}

.status-notification .slider-role:before {
    left: 7px;
    bottom: 5px;
    background: #377DFF;
}

.status-notification .input-role:checked+.slider-role {
    background-color: #EBF2FF;
}

.status-notification .slider-role span {

 }
 .status-role.status-notification{
    width: 52px;
    height: 28px;
 }
 .status-notification .slider-role:before {
    left: 7px;
    bottom: 5px;
    background: #377DFF;

 }
 .status-notification .input-role:checked + .slider-role {
    background-color:  #EBF2FF;
 }
 .status-notification .slider-role span{

    color: #377DFF;
    font-weight: 500;
    font-size: 10px;
    height: 30px;
    line-height: 28px;

}

.status-notification .input-role:checked+.slider-role:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.status-notification .slider-role {
    background: #F6F6F7;
}

.buttons_added {
    border: 1px solid #ECEFF1;
    border-radius: 12px;
    padding: 6px;
}

.notifications .bell::before {

 }
 .status-notification .input-role:checked + .slider-role:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
 }
 .status-notification .slider-role {
    background: #F6F6F7;
 }
 .buttons_added{
    border: 1px solid #ECEFF1;
    border-radius: 12px;
    padding: 6px;
 }
 .notifications .bell::before {

    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-bottom: 12px solid white;
    border-right: 12px solid transparent;
    border-top: 0;
    border-left: 12px solid transparent;
    position: absolute;
    bottom: -12px;
    right: 12px;

}

/*edit header*/

.language {
    margin: 0px;
}

header .navbar-brand img {
    max-width: 240px;
}

.list-checkbox {
    display: flex;
}

.box-filter .filter-left {
    width: auto;
    flex-grow: 1;
}

.box-filter label {
    line-height: 45px;
    height: 30px;
}

.table-budget td {
    border-bottom: 1px solid #ECEFF1!important;
}

.table-general.table-budget td {
    padding: 13px 12px;
}

.border-right {
    border-right: 1px solid #ECEFF1!important;
}

.working-plan th {
    position: relative;
}

.box-content {

 }
 /*edit header*/
 .language {
    margin: 0px;
 }
 header .navbar-brand img{
    max-width: 240px;
 }
 .list-checkbox{
    display: flex;
 }
 .box-filter .filter-left{
    width: auto;
    flex-grow: 1;
 }
 .box-filter label{
    line-height: 45px;
    height: 30px;
 }
 .table-budget td{
    border-bottom: 1px solid #ECEFF1!important;
 }
 .table-general.table-budget td {
    padding: 13px 12px;
 }
 .border-right{
    border-right: 1px solid #ECEFF1!important;
 }
 .working-plan th{
    position: relative;
 }
 .box-content {

    background: #F6F6F7;
    border-radius: 16px;
    margin-top: 20px;
    padding: 32px;

}
 .menu-md{
    display: none;
 }
  #unread-notification-count{
    position: absolute;
    top: -13px;
    left: 28px;
    border-radius: 20px;
  }
  #table-wrapper {
    position:relative;
  }
  #table-scroll {
    width: 100%;
    max-height:850px;
    overflow:auto;
    margin-top:20px;
  }
  .table-sub-scroll {
    width: 100%;
    max-height:159px;
    overflow:auto;
  }
  #table-wrapper table {
    width:100%;
  }
  #search-input-combobox,span.k-picker-wrap{
    border-radius: 12px;
    border: 1px solid #ECEFF1;
    padding-left: 15px;
  }
.btn-plus{
     display: none;
}
.tooglemp.collapsed .btn-plus{
    display: inline-block;
}
.tooglemp.collapsed .btn-minges{
    display: none;
}
#titleParent{
   position: relative;
   left: 100px;

}
#titleChildren{
   position: relative;
   left: 40px;
}
.title-new-empty{
    height: 250px;
    line-height: 230px;
}
.title-approve.text-center{
    height: 220px;
    line-height: 190px;
}
.description-new{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-height: 62px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    font-size: 14px;
}
.height576{
    height: 574px
}
#start_date,#end_date,#fromdDate,#toDate{
    font-size: 13px;
}
.divider-th-r::after {
    top: 15px !important;
}
